openapi: 3.0.0
info:
  version: 1.0.0
  title: Phase 2 Endpoints
  description: Providing Client and Partner Data to support the CCC
servers:
  - url: 'https://corpnet--build.sandbox.my.salesforce.com/services/apexrest/service'
    description: Build Sandbox
  - url: 'https://corpnet.my.salesforce.com/services/apexrest/service'
    description: Production
  - url: 'https://corpnet--fullphase2.sandbox.lightning.force.com/services/apexrest/service'
    description: Phase 2 Full Sandbox
paths:
  '/user/{UserId}':
    get:
      summary: Get User Access Info
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    ClientsInfo:
                      - UID: 5a6ff6f5-9a72-459b-a26d-f1980d8f6407
                        ShippingAddress: null
                        PID: null
                        Name: Kendall Testy Helms
                        LogoURL: null
                        Id: 0018D00000Mykg9QAB
                        Discount: null
                        Contacts:
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0053h0000030ekPAAQ
                            Name: Reginald Quaint
                            Id: 0038D00000I071GQAR
                            Email: existingacct@test.texas
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: null
                            OwnerId: 0058D000000QCgRQAW
                            Name: Kendall Testy Helms
                            Id: 0038D00000Fo4FhQAJ
                            Email: kendalltesty.h@symsoftsolutions.com
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0058D000000QCgRQAW
                            Name: Peter Party
                            Id: 0038D00000IAfSzQAL
                            Email: peterparty@texas.test
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0058D000000QCgRQAW
                            Name: Mundungus Fletcher
                            Id: 0038D00000J0QwmQAF
                            Email: dungy.fletch@ww.hp
                            AccountId: 0018D00000Mykg9QAB
                        BrainTreeProfileId: '49897021653'
                        BillingAddress: null
                        AccountReferralId: '0'
                properties:
                  authId:
                    type: string
                    x-stoplight:
                      id: 1xu763dw8d4fm
                    description: |-
                      The Auth_Id__c parameter passed with the call should find a User_Identity__c record with a matching Auth_Id__c
                      The Contact__c of that record will be the one returned in the Contact section. As well as returning the Account acccesses related to that contact.
                  contact:
                    $ref: '#/components/schemas/Contact'
                  accountAccesses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account-access'
              examples: {}
      security:
        - OAuth Token: []
      servers:
        - url: 'https://corpnet--build.sandbox.my.salesforce.com/services/apexrest/service'
        - url: 'https://corpnet.my.salesforce.com/services/apexrest/service'
          description: ''
      operationId: U2
      description: |-
        This call  will be used connect a specific auth id to a single contact in Salesforce returning all the access information for that contact to view or edit accounts and entities. 

        Access flow chart diagram in figma:  https://www.figma.com/file/F0GJB0XB7dLJkwTV5QNCG5/Corpnet-CCC---Determining-User-Access-to-Accounts-and-Related-Entities?type=whiteboard&t=zYLzYVgfGSnh156s-0
      x-stoplight:
        id: zi0aw2s5nrz60
    parameters:
      - $ref: '#/components/parameters/UserId'
  '/account/{AccountId}':
    get:
      summary: Get Account Info
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountInfo:
                    $ref: '#/components/schemas/Account'
                  orders:
                    type: array
                    x-stoplight:
                      id: 3pskkwix6btk5
                    description: |-
                      Where Order.AccountId = AccountId

                      20 most recent
                    items:
                      $ref: '#/components/schemas/Order'
                  complianceAlerts:
                    type: array
                    x-stoplight:
                      id: ehes5qypcijqr
                    description: Opportunities Where Account.Id = AccountId
                    items:
                      $ref: '#/components/schemas/Opportunity'
                  tasks:
                    type: array
                    x-stoplight:
                      id: gzspcx7gsrkjg
                    description: Request_for_Information__c Where Case.AccountId = AccountId
                    items:
                      $ref: '#/components/schemas/Tasks'
                  entities:
                    type: array
                    x-stoplight:
                      id: 9su1aewp7t9wo
                    description: |-
                      Entity__c records where Account__c = the AccountId Param

                      AND   Where the Contact has Entity_access__c to the Entity

                      For businessAddress
                      Entity__c.Business_Address_1__c
                      Entity__c.Business_Address_2__c
                      Entity__c.City__c
                      Entity__c.State__c
                      Entity__c.Zip_Code__c
                      Entity__c.Country__c
                      Entity__c.County__c
                      Ignore Phone & Email
                    items:
                      $ref: '#/components/schemas/Entity'
                  numberofOrders:
                    type: integer
                    x-stoplight:
                      id: q1jogiwl4sce8
                    description: Count of all orders realated to the AccountId
                  pendingOrders:
                    type: integer
                    x-stoplight:
                      id: 72ab12gkq9ret
                    description: |
                      Count of all orders realated to the AccountId
                      where Order_Phase__c != completed
                  totalCompanies:
                    type: integer
                    x-stoplight:
                      id: pl9rvj2jkikef
                    description: count of Entities where Account__c = Count of all orders realated to the AccountId
                  totalClients:
                    type: integer
                    x-stoplight:
                      id: gtgsr7okulpql
                    description: |-
                      Partner_Role__c Where Partner_Account__c = AccountId

                      Type??
                      operationId: get-getaccountinfo
                      x-stoplight:
                        id: 5yfcoc6qmiv8h
                    nullable: true
      requestBody:
        content: {}
        description: ''
      parameters:
        - $ref: '#/components/parameters/user_id'
      operationId: U3
      description: |-
        Information for the account Id provided in the AccountId Param.  For the orders node lets bring the last 10 orders

        The Contact Id (UserId) provided is used to determine access level to the Account and Entities returned in the call.

        User Access Flow diagram - https://www.figma.com/file/F0GJB0XB7dLJkwTV5QNCG5/Corpnet-CCC---Determining-User-Access-to-Accounts-and-Related-Entities?type=whiteboard&node-id=0%3A1&t=rYcp9ulNsdte3Z94-1
      x-stoplight:
        id: k98ccoe5v1gfx
    parameters:
      - $ref: '#/components/parameters/AccountId'
  '/entity/{EntityId}':
    get:
      summary: GET Entity
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity-Expanded'
      operationId: get-entity
      x-stoplight:
        id: 5asyx5wrvbr2f
      description: This call is used to get data for a comprehensive view of all the data relateing to a single entity.
      parameters:
        - $ref: '#/components/parameters/user_id'
    parameters:
      - $ref: '#/components/parameters/EntityId'
  /glossary/entitytype:
    get:
      summary: Your GET endpoint
      tags: []
      responses: {}
      operationId: get-glossary-entitytype
      x-stoplight:
        id: e4d49zpuwopio
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                '':
                  $ref: '#/components/schemas/GlossaryEntityType'
  '/order/{OrderId}':
    parameters:
      - schema:
          type: string
        name: OrderId
        in: path
        required: true
    get:
      summary: GET Order
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-Expanded'
      operationId: get-order-OrderId
      x-stoplight:
        id: 49eqnuq5os721
      description: |-
        Get all details and related data for a single order with the order.Id as the parameter for identifing the order.  UserId (Contact.id) will be passed to determine access to the order. 
        userid is required and will throw an access error if not provided. 
        Access to the order will be determined by the existence of Entity Access for the Contact to the Entity related to the specifc order. 
      parameters:
        - $ref: '#/components/parameters/user_id'
  /products:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    value:
                      ProductFamilyValues:
                        - Package
                        - Package Addons
                        - State Fees
                        - 3rd Party Fees
                        - Subscription
                        - Historical
                      PackageCollections:
                        - State: California
                          ServiceCategory: null
                          ProductPackages:
                            - Timeline: null
                              State: California
                              ServiceCategory: null
                              ProductOptions:
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Name Availability Check
                                  ProductLimit: null
                                  ProductId: 01t8D000000199qQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: Name Availability Check
                                  NonDiscountable: false
                                  Id: a0A8D000000CydsUAC
                                  FormioId: null
                                  DisplaySequence: 10
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: 24-Hour Document Preparation
                                  ProductLimit: null
                                  ProductId: 01t8D000000199hQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000Cz6AUAS
                                  FormioId: null
                                  DisplaySequence: 20
                                  Description: No Delays! Once your order is placed we confirm the availability of your company name with the state office. If the name is available we prepare and submit your formation documents for filing within 24 hours.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Official Filed Articles of Organization
                                  ProductLimit: null
                                  ProductId: 01t8D000000199sQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6FUAS
                                  FormioId: null
                                  DisplaySequence: 30
                                  Description: Choose EXPRESS FILING and get your Articles filed FASTER and RECEIVE your filed documents via email & FedEx Overnight delivery!
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: 'FREE Corporate Compliance Tool: B.I.Z.'
                                  ProductLimit: null
                                  ProductId: 01t8D000000199iQAA
                                  ProductFamily: Subscription
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6BUAS
                                  FormioId: null
                                  DisplaySequence: 40
                                  Description: 'CorpNet B.I.Z. (Business Information Zone) is a FREE corporate compliance concierge tool that allows you to receive reminders for important due dates like tax deadlines & annual report filings, view and print official business documents all stored securel'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Free Registered Agent Service
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FN2QAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: 60 Day
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6KUAS
                                  FormioId: null
                                  DisplaySequence: 50
                                  Description: 'Corporations and LLCs are required to maintain a registered agent. Please note that a Post Office Box or other “mail service” is often not sufficient to qualify as a registered agent. If you wish to keep your company’s address information confidential, de'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Obtain Tax ID Number (EIN)
                                  ProductLimit: null
                                  ProductId: 01t8D000000199rQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6PUAS
                                  FormioId: null
                                  DisplaySequence: 60
                                  Description: 'Businesses are required to obtain a Federal Tax ID, also called an Employer Identification Number (EIN) which is used to identify the business entity. With CorpNet''s Tax ID service, we will obtain your company''s Tax ID from the IRS once your business form'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Prepare S-Corp Election Form 2553
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FNbQAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6UUAS
                                  FormioId: null
                                  DisplaySequence: 70
                                  Description: An S-Corp election is a tax election by the IRS for tax purposes. You'll have to make the special election with the IRS using this Form 2553. This election can give the ease of business of the LLC and the tax benefits of the S-Corporation. We recommend se
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Custom Operating Agreement and Minutes
                                  ProductLimit: null
                                  ProductId: 01t8D000000199tQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6QUAS
                                  FormioId: null
                                  DisplaySequence: 80
                                  Description: 'Save time and money and have Corpnet staff provide you with a COMPLETED document, with all of your custom information. We’ll even add special provisions and text at your specific direction upon request.'
                                  Dependency: null
                                - SLAdisplayText: Get it!
                                  ProductNameSubtitle: Super Custom
                                  ProductName: CUSTOMIZED LLC Kit & Seal
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FNlQAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: CUSTOMIZED LLC Kit & Seal
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6ZUAS
                                  FormioId: null
                                  DisplaySequence: 90
                                  Description: Corporations and LLC’s are subject to many formalities after they are formed. CorpNet’s Corporate Kit & Seal for Corporations and LLC’s includes the tools your company needs to comply with these formalities and place for safekeeping of all of your busines
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Initial Report Filing
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOUQA2
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000Cz6eUAC
                                  FormioId: null
                                  DisplaySequence: 100
                                  Description: This report is time sensitive and must be filed within a certain time period after the filing. Maintaining your company in good standing often requires multiple filings. CorpNet can process and file your company’s Initial Report on your behalf to save you
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Annual Report Filing
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOeQAM
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000Cz6jUAC
                                  FormioId: null
                                  DisplaySequence: 110
                                  Description: Maintaining your company in good standing often requires multiple filings. CorpNet can process and file your company’s Annual Report on your behalf to save you valuable time.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Business License Research Package
                                  ProductLimit: null
                                  ProductId: 01t8D000000199uQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6oUAC
                                  FormioId: null
                                  DisplaySequence: 120
                                  Description: 'Business licensing requirements vary from state to state, county to county and city to city. Government agencies frequently update their forms and change requirements for supporting documents. Our Business License Research Package provides you with the la'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: State Sales Tax Registration - California
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOtQAM
                                  ProductFamily: State Fee
                                  ProductConstraint: a078D000000HhtJQAS
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: State Sales Tax Registration
                                  NonDiscountable: true
                                  Id: a0A8D000000Cz6tUAC
                                  FormioId: null
                                  DisplaySequence: 130
                                  Description: 'A sellers permit or sales tax registration is required before sales are made! The specific state agency generally requires a business to have a “Seller’s Permit” if that business is selling or leasing merchandise, vehicles,'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Employer Tax Registration
                                  ProductLimit: null
                                  ProductId: 01t8D000000199wQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: a078D000000HhtJQAS
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz6yUAC
                                  FormioId: null
                                  DisplaySequence: 140
                                  Description: Any business that is going to have employees must register as an employer before setting up payroll. The specific state agencies generally require businesses to register as an employer in any state where the employees reside.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Filing Fee
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FPNQA2
                                  ProductFamily: State Fee
                                  ProductConstraint: a078D000000H4mIQAS
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: California Filing Fee
                                  NonDiscountable: true
                                  Id: a0A8D000000Cz73UAC
                                  FormioId: null
                                  DisplaySequence: 150
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Expedited Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vcWQAQ
                                  ProductFamily: State Fee
                                  ProductConstraint: a078D000000H4mIQAS
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCbLUAW
                                  FormioId: null
                                  DisplaySequence: 155
                                  Description: null
                                  Dependency:
                                    ProductId: 01t3h000002QiwjAAC
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000Cz75UAC
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Initial Report Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vcvQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: a078D000000H4mIQAS
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCbaUAG
                                  FormioId: null
                                  DisplaySequence: 156
                                  Description: null
                                  Dependency:
                                    ProductId: 01t3h000002QiwjAAC
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000Cz6eUAC
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Annual Report Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vd0QAA
                                  ProductFamily: State Fee
                                  ProductConstraint: a078D000000H4mIQAS
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCbuUAG
                                  FormioId: null
                                  DisplaySequence: 157
                                  Description: null
                                  Dependency:
                                    ProductId: 01t3h000002QiwjAAC
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000Cz6jUAC
                                - SLAdisplayText: 10-15 Business Days to your door
                                  ProductNameSubtitle: null
                                  ProductName: Standard Processing Speed
                                  ProductLimit: null
                                  ProductId: 01t8D000000199lQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: a078D000000H4mNQAS
                                  PackageDisplaySelectionSubtitle: Standard
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz74UAC
                                  FormioId: null
                                  DisplaySequence: 160
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: 20-30 Business Days to your door
                                  ProductNameSubtitle: null
                                  ProductName: Express Processing Speed
                                  ProductLimit: null
                                  ProductId: 01t8D000000199mQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: a078D000000H4mNQAS
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000Cz75UAC
                                  FormioId: null
                                  DisplaySequence: 170
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Print Delivery
                                  ProductLimit: null
                                  ProductId: 01t8D000000199oQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000Cz78UAC
                                  FormioId: null
                                  DisplaySequence: 180
                                  Description: 'Print Delivery: Your order includes free paperless delivery. You''ll be able to download PDF versions of your documents. If you prefer to receive hard copies printed on quality paper, then add this option and your business documents will be mailed to you'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Shipping & Handling Fee
                                  ProductLimit: null
                                  ProductId: 01t8D000000199pQAA
                                  ProductFamily: 3rd Party Fees
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000Cz7DUAS
                                  FormioId: null
                                  DisplaySequence: 190
                                  Description: 'Shipping & Handling CorpNet’s S&H fees include multiple shipments of your documents to and from the state office during the formation process of your company. In addition, CorpNet will ship your final package including your company''s state-approved format'
                                  Dependency: null
                              ProductLimits:
                                - Name: Select Speed?
                                  MinOptions: 1
                                  MaxOptions: 1
                                  Id: a078D000000H4mNQAS
                                  FormPageName: null
                                  FormId: null
                                  DisplaySequence: null
                                  DisplayHeader: false
                                - Name: State Fees
                                  MinOptions: null
                                  MaxOptions: null
                                  Id: a078D000000H4mIQAS
                                  FormPageName: null
                                  FormId: null
                                  DisplaySequence: null
                                  DisplayHeader: false
                                - Name: Tax Registration
                                  MinOptions: 0
                                  MaxOptions: 0
                                  Id: a078D000000HhtJQAS
                                  FormPageName: null
                                  FormId: null
                                  DisplaySequence: 0
                                  DisplayHeader: false
                              ProductFamily: State Fee
                              ProductConstraints:
                                - FormPageName: null
                                  FormId: null
                                - FormPageName: null
                                  FormId: null
                                - FormPageName: null
                                  FormId: null
                              PackageCollection:
                                - FormId: '123'
                              Name: Business Formation - LLC - California - Basic
                              Id: 01t3h000002QiwjAAC
                              FormSequences:
                                - Sequence: 123
                                  ProductId: ''
                                  Id: a0i8D000000WrIOQA0
                                  FormioId: '123'
                                - Sequence: 890
                                  ProductId: ''
                                  Id: a0i8D000000WrITQA0
                                  FormioId: '890'
                              Entity: LLC
                              CollectionDisplaySequence: 2
                            - Timeline: null
                              State: California
                              ServiceCategory: null
                              ProductOptions:
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: 24-Hour Document Preparation
                                  ProductLimit: null
                                  ProductId: 01t8D000000199hQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D22FUAS
                                  FormioId: null
                                  DisplaySequence: 20
                                  Description: No Delays! Once your order is placed we confirm the availability of your company name with the state office. If the name is available we prepare and submit your formation documents for filing within 24 hours.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Official Filed Articles of Organization
                                  ProductLimit: 0
                                  ProductId: 01t8D000000199sQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000VGdZUAW
                                  FormioId: null
                                  DisplaySequence: 30
                                  Description: Choose EXPRESS FILING and get your Articles filed FASTER and RECEIVE your filed documents via email & FedEx Overnight delivery!
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Official Filed Articles of Organization
                                  ProductLimit: null
                                  ProductId: 01t8D000000199sQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22IUAS
                                  FormioId: null
                                  DisplaySequence: 30
                                  Description: Choose EXPRESS FILING and get your Articles filed FASTER and RECEIVE your filed documents via email & FedEx Overnight delivery!
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: 'FREE Corporate Compliance Tool: B.I.Z.'
                                  ProductLimit: null
                                  ProductId: 01t8D000000199iQAA
                                  ProductFamily: Subscription
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22GUAS
                                  FormioId: null
                                  DisplaySequence: 40
                                  Description: 'CorpNet B.I.Z. (Business Information Zone) is a FREE corporate compliance concierge tool that allows you to receive reminders for important due dates like tax deadlines & annual report filings, view and print official business documents all stored securel'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Free Registered Agent Service
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FN2QAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: 1 Year
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22JUAS
                                  FormioId: null
                                  DisplaySequence: 50
                                  Description: 'Corporations and LLCs are required to maintain a registered agent. Please note that a Post Office Box or other “mail service” is often not sufficient to qualify as a registered agent. If you wish to keep your company’s address information confidential, de'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Obtain Tax ID Number (EIN)
                                  ProductLimit: null
                                  ProductId: 01t8D000000199rQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22DUAS
                                  FormioId: null
                                  DisplaySequence: 60
                                  Description: 'Businesses are required to obtain a Federal Tax ID, also called an Employer Identification Number (EIN) which is used to identify the business entity. With CorpNet''s Tax ID service, we will obtain your company''s Tax ID from the IRS once your business form'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Prepare S-Corp Election Form 2553
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FNbQAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22KUAS
                                  FormioId: null
                                  DisplaySequence: 70
                                  Description: An S-Corp election is a tax election by the IRS for tax purposes. You'll have to make the special election with the IRS using this Form 2553. This election can give the ease of business of the LLC and the tax benefits of the S-Corporation. We recommend se
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Custom Operating Agreement and Minutes
                                  ProductLimit: null
                                  ProductId: 01t8D000000199tQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22EUAS
                                  FormioId: null
                                  DisplaySequence: 80
                                  Description: 'Save time and money and have Corpnet staff provide you with a COMPLETED document, with all of your custom information. We’ll even add special provisions and text at your specific direction upon request.'
                                  Dependency: null
                                - SLAdisplayText: Get it!
                                  ProductNameSubtitle: Super Custom
                                  ProductName: CUSTOMIZED LLC Kit & Seal
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FNlQAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: CUSTOMIZED LLC Kit & Seal
                                  NonDiscountable: false
                                  Id: a0A8D000000D22LUAS
                                  FormioId: null
                                  DisplaySequence: 90
                                  Description: Corporations and LLC’s are subject to many formalities after they are formed. CorpNet’s Corporate Kit & Seal for Corporations and LLC’s includes the tools your company needs to comply with these formalities and place for safekeeping of all of your busines
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Initial Report Filing
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOUQA2
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D22MUAS
                                  FormioId: null
                                  DisplaySequence: 100
                                  Description: This report is time sensitive and must be filed within a certain time period after the filing. Maintaining your company in good standing often requires multiple filings. CorpNet can process and file your company’s Initial Report on your behalf to save you
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Annual Report Filing
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOeQAM
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D226UAC
                                  FormioId: null
                                  DisplaySequence: 110
                                  Description: Maintaining your company in good standing often requires multiple filings. CorpNet can process and file your company’s Annual Report on your behalf to save you valuable time.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Business License Research Package
                                  ProductLimit: null
                                  ProductId: 01t8D000000199uQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22NUAS
                                  FormioId: null
                                  DisplaySequence: 120
                                  Description: 'Business licensing requirements vary from state to state, county to county and city to city. Government agencies frequently update their forms and change requirements for supporting documents. Our Business License Research Package provides you with the la'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: State Sales Tax Registration - California
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOtQAM
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: State Sales Tax Registration
                                  NonDiscountable: true
                                  Id: a0A8D000000D227UAC
                                  FormioId: null
                                  DisplaySequence: 130
                                  Description: 'A sellers permit or sales tax registration is required before sales are made! The specific state agency generally requires a business to have a “Seller’s Permit” if that business is selling or leasing merchandise, vehicles,'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Employer Tax Registration
                                  ProductLimit: null
                                  ProductId: 01t8D000000199wQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22HUAS
                                  FormioId: null
                                  DisplaySequence: 140
                                  Description: Any business that is going to have employees must register as an employer before setting up payroll. The specific state agencies generally require businesses to register as an employer in any state where the employees reside.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Filing Fee
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FPNQA2
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: California Filing Fee
                                  NonDiscountable: true
                                  Id: a0A8D000000D22AUAS
                                  FormioId: null
                                  DisplaySequence: 150
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Expedited Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vcWQAQ
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCbGUAW
                                  FormioId: null
                                  DisplaySequence: 155
                                  Description: null
                                  Dependency:
                                    ProductId: 01t8D0000001g2EQAQ
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000D22CUAS
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Initial Report Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vcvQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCbfUAG
                                  FormioId: null
                                  DisplaySequence: 156
                                  Description: null
                                  Dependency:
                                    ProductId: 01t8D0000001g2EQAQ
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000D22MUAS
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Annual Report Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vd0QAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCbzUAG
                                  FormioId: null
                                  DisplaySequence: 157
                                  Description: null
                                  Dependency:
                                    ProductId: 01t8D0000001g2EQAQ
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000D226UAC
                                - SLAdisplayText: 10-15 Business Days to your door
                                  ProductNameSubtitle: null
                                  ProductName: Standard Processing Speed
                                  ProductLimit: null
                                  ProductId: 01t8D000000199lQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: Standard
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22BUAS
                                  FormioId: null
                                  DisplaySequence: 160
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: 20-30 Business Days to your door
                                  ProductNameSubtitle: null
                                  ProductName: Express Processing Speed
                                  ProductLimit: null
                                  ProductId: 01t8D000000199mQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: Express
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22CUAS
                                  FormioId: null
                                  DisplaySequence: 170
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Print Delivery
                                  ProductLimit: null
                                  ProductId: 01t8D000000199oQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D22OUAS
                                  FormioId: null
                                  DisplaySequence: 180
                                  Description: 'Print Delivery: Your order includes free paperless delivery. You''ll be able to download PDF versions of your documents. If you prefer to receive hard copies printed on quality paper, then add this option and your business documents will be mailed to you'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Shipping & Handling Fee
                                  ProductLimit: null
                                  ProductId: 01t8D000000199pQAA
                                  ProductFamily: 3rd Party Fees
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D228UAC
                                  FormioId: null
                                  DisplaySequence: 190
                                  Description: 'Shipping & Handling CorpNet’s S&H fees include multiple shipments of your documents to and from the state office during the formation process of your company. In addition, CorpNet will ship your final package including your company''s state-approved format'
                                  Dependency: null
                              ProductLimits: null
                              ProductFamily: Package
                              ProductConstraints: []
                              PackageCollection:
                                - FormId: '123'
                              Name: '- LLC - California - Complete'
                              Id: 01t8D0000001g2EQAQ
                              FormSequences: []
                              Entity: LLC
                              CollectionDisplaySequence: 4
                            - Timeline: null
                              State: California
                              ServiceCategory: null
                              ProductOptions:
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Name Availability Check
                                  ProductLimit: null
                                  ProductId: 01t8D000000199qQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: Name Availability Check
                                  NonDiscountable: false
                                  Id: a0A8D000000D22jUAC
                                  FormioId: null
                                  DisplaySequence: 10
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: 24-Hour Document Preparation
                                  ProductLimit: null
                                  ProductId: 01t8D000000199hQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D22qUAC
                                  FormioId: null
                                  DisplaySequence: 20
                                  Description: No Delays! Once your order is placed we confirm the availability of your company name with the state office. If the name is available we prepare and submit your formation documents for filing within 24 hours.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Official Filed Articles of Organization
                                  ProductLimit: null
                                  ProductId: 01t8D000000199sQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22tUAC
                                  FormioId: null
                                  DisplaySequence: 30
                                  Description: Choose EXPRESS FILING and get your Articles filed FASTER and RECEIVE your filed documents via email & FedEx Overnight delivery!
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: 'FREE Corporate Compliance Tool: B.I.Z.'
                                  ProductLimit: null
                                  ProductId: 01t8D000000199iQAA
                                  ProductFamily: Subscription
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22rUAC
                                  FormioId: null
                                  DisplaySequence: 40
                                  Description: 'CorpNet B.I.Z. (Business Information Zone) is a FREE corporate compliance concierge tool that allows you to receive reminders for important due dates like tax deadlines & annual report filings, view and print official business documents all stored securel'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Free Registered Agent Service
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FN2QAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: 1 Year
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22uUAC
                                  FormioId: null
                                  DisplaySequence: 50
                                  Description: 'Corporations and LLCs are required to maintain a registered agent. Please note that a Post Office Box or other “mail service” is often not sufficient to qualify as a registered agent. If you wish to keep your company’s address information confidential, de'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Obtain Tax ID Number (EIN)
                                  ProductLimit: null
                                  ProductId: 01t8D000000199rQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22oUAC
                                  FormioId: null
                                  DisplaySequence: 60
                                  Description: 'Businesses are required to obtain a Federal Tax ID, also called an Employer Identification Number (EIN) which is used to identify the business entity. With CorpNet''s Tax ID service, we will obtain your company''s Tax ID from the IRS once your business form'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Prepare S-Corp Election Form 2553
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FNbQAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22vUAC
                                  FormioId: null
                                  DisplaySequence: 70
                                  Description: An S-Corp election is a tax election by the IRS for tax purposes. You'll have to make the special election with the IRS using this Form 2553. This election can give the ease of business of the LLC and the tax benefits of the S-Corporation. We recommend se
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Custom Operating Agreement and Minutes
                                  ProductLimit: null
                                  ProductId: 01t8D000000199tQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22pUAC
                                  FormioId: null
                                  DisplaySequence: 80
                                  Description: 'Save time and money and have Corpnet staff provide you with a COMPLETED document, with all of your custom information. We’ll even add special provisions and text at your specific direction upon request.'
                                  Dependency: null
                                - SLAdisplayText: Get it!
                                  ProductNameSubtitle: Super Custom
                                  ProductName: CUSTOMIZED LLC Kit & Seal
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FNlQAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: CUSTOMIZED LLC Kit & Seal
                                  NonDiscountable: false
                                  Id: a0A8D000000D22wUAC
                                  FormioId: null
                                  DisplaySequence: 90
                                  Description: Corporations and LLC’s are subject to many formalities after they are formed. CorpNet’s Corporate Kit & Seal for Corporations and LLC’s includes the tools your company needs to comply with these formalities and place for safekeeping of all of your busines
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Initial Report Filing
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOUQA2
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D22xUAC
                                  FormioId: null
                                  DisplaySequence: 100
                                  Description: This report is time sensitive and must be filed within a certain time period after the filing. Maintaining your company in good standing often requires multiple filings. CorpNet can process and file your company’s Initial Report on your behalf to save you
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Annual Report Filing
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOeQAM
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D22kUAC
                                  FormioId: null
                                  DisplaySequence: 110
                                  Description: Maintaining your company in good standing often requires multiple filings. CorpNet can process and file your company’s Annual Report on your behalf to save you valuable time.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Business License Research Package
                                  ProductLimit: null
                                  ProductId: 01t8D000000199uQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22yUAC
                                  FormioId: null
                                  DisplaySequence: 120
                                  Description: 'Business licensing requirements vary from state to state, county to county and city to city. Government agencies frequently update their forms and change requirements for supporting documents. Our Business License Research Package provides you with the la'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: State Sales Tax Registration - California
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FOtQAM
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: State Sales Tax Registration
                                  NonDiscountable: true
                                  Id: a0A8D000000D22lUAC
                                  FormioId: null
                                  DisplaySequence: 130
                                  Description: 'A sellers permit or sales tax registration is required before sales are made! The specific state agency generally requires a business to have a “Seller’s Permit” if that business is selling or leasing merchandise, vehicles,'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Employer Tax Registration
                                  ProductLimit: null
                                  ProductId: 01t8D000000199wQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D22sUAC
                                  FormioId: null
                                  DisplaySequence: 140
                                  Description: Any business that is going to have employees must register as an employer before setting up payroll. The specific state agencies generally require businesses to register as an employer in any state where the employees reside.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Filing Fee
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FPNQA2
                                  ProductFamily: State Fee
                                  ProductConstraint: a078D000000HAmCQAW
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: California Filing Fee
                                  NonDiscountable: true
                                  Id: a0A8D000000D232UAC
                                  FormioId: null
                                  DisplaySequence: 150
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Expedited Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vcWQAQ
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCbQUAW
                                  FormioId: null
                                  DisplaySequence: 155
                                  Description: null
                                  Dependency:
                                    ProductId: 01t8D0000001g2OQAQ
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000D231UAC
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Initial Report Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vcvQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCbkUAG
                                  FormioId: null
                                  DisplaySequence: 156
                                  Description: null
                                  Dependency:
                                    ProductId: 01t8D0000001g2OQAQ
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000D22xUAC
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: California Annual Report Fee
                                  ProductLimit: 0
                                  ProductId: 01t8D0000003vd0QAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000DCc4UAG
                                  FormioId: null
                                  DisplaySequence: 157
                                  Description: null
                                  Dependency:
                                    ProductId: 01t8D0000001g2OQAQ
                                    PackageDisplaySelection: Optional
                                    Id: a0A8D000000D22kUAC
                                - SLAdisplayText: 10-15 Business Days to your door
                                  ProductNameSubtitle: null
                                  ProductName: Standard Processing Speed
                                  ProductLimit: null
                                  ProductId: 01t8D000000199lQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: a078D000000HAmBQAW
                                  PackageDisplaySelectionSubtitle: Standard
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D230UAC
                                  FormioId: null
                                  DisplaySequence: 160
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: 20-30 Business Days to your door
                                  ProductNameSubtitle: null
                                  ProductName: Express Processing Speed
                                  ProductLimit: null
                                  ProductId: 01t8D000000199mQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: a078D000000HAmBQAW
                                  PackageDisplaySelectionSubtitle: Express
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D231UAC
                                  FormioId: null
                                  DisplaySequence: 170
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Print Delivery
                                  ProductLimit: null
                                  ProductId: 01t8D000000199oQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D22zUAC
                                  FormioId: null
                                  DisplaySequence: 180
                                  Description: 'Print Delivery: Your order includes free paperless delivery. You''ll be able to download PDF versions of your documents. If you prefer to receive hard copies printed on quality paper, then add this option and your business documents will be mailed to you'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Shipping & Handling Fee
                                  ProductLimit: null
                                  ProductId: 01t8D000000199pQAA
                                  ProductFamily: 3rd Party Fees
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Required
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D22mUAC
                                  FormioId: null
                                  DisplaySequence: 190
                                  Description: 'Shipping & Handling CorpNet’s S&H fees include multiple shipments of your documents to and from the state office during the formation process of your company. In addition, CorpNet will ship your final package including your company''s state-approved format'
                                  Dependency: null
                              ProductLimits:
                                - Name: 'Select Speed: How Fast?'
                                  MinOptions: 1
                                  MaxOptions: 1
                                  Id: a078D000000HAmBQAW
                                  FormPageName: null
                                  FormId: null
                                  DisplaySequence: null
                                  DisplayHeader: false
                                - Name: State Fees
                                  MinOptions: null
                                  MaxOptions: null
                                  Id: a078D000000HAmCQAW
                                  FormPageName: null
                                  FormId: null
                                  DisplaySequence: null
                                  DisplayHeader: false
                              ProductFamily: Package
                              ProductConstraints:
                                - FormPageName: null
                                  FormId: null
                                - FormPageName: null
                                  FormId: null
                              PackageCollection:
                                - FormId: '123'
                              Name: '- LLC - California - Deluxe'
                              Id: 01t8D0000001g2OQAQ
                              FormSequences: []
                              Entity: LLC
                              CollectionDisplaySequence: 3
                            - Timeline: null
                              State: California
                              ServiceCategory: null
                              ProductOptions:
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Name Availability Check
                                  ProductLimit: null
                                  ProductId: 01t8D000000199qQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: Name Availability Check
                                  NonDiscountable: false
                                  Id: a0A8D000000D24QUAS
                                  FormioId: null
                                  DisplaySequence: 10
                                  Description: null
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: 24-Hour Document Preparation
                                  ProductLimit: null
                                  ProductId: 01t8D000000199hQAA
                                  ProductFamily: State Fee
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: true
                                  Id: a0A8D000000D24XUAS
                                  FormioId: null
                                  DisplaySequence: 20
                                  Description: No Delays! Once your order is placed we confirm the availability of your company name with the state office. If the name is available we prepare and submit your formation documents for filing within 24 hours.
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Official Filed Articles of Organization
                                  ProductLimit: null
                                  ProductId: 01t8D000000199sQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D24aUAC
                                  FormioId: null
                                  DisplaySequence: 30
                                  Description: Choose EXPRESS FILING and get your Articles filed FASTER and RECEIVE your filed documents via email & FedEx Overnight delivery!
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: 'FREE Corporate Compliance Tool: B.I.Z.'
                                  ProductLimit: null
                                  ProductId: 01t8D000000199iQAA
                                  ProductFamily: Subscription
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D24YUAS
                                  FormioId: null
                                  DisplaySequence: 40
                                  Description: 'CorpNet B.I.Z. (Business Information Zone) is a FREE corporate compliance concierge tool that allows you to receive reminders for important due dates like tax deadlines & annual report filings, view and print official business documents all stored securel'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Free Registered Agent Service
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FN2QAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: 60 Day
                                  PackageDisplaySelection: Bundled
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D24bUAC
                                  FormioId: null
                                  DisplaySequence: 50
                                  Description: 'Corporations and LLCs are required to maintain a registered agent. Please note that a Post Office Box or other “mail service” is often not sufficient to qualify as a registered agent. If you wish to keep your company’s address information confidential, de'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Obtain Tax ID Number (EIN)
                                  ProductLimit: null
                                  ProductId: 01t8D000000199rQAA
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D24VUAS
                                  FormioId: null
                                  DisplaySequence: 60
                                  Description: 'Businesses are required to obtain a Federal Tax ID, also called an Employer Identification Number (EIN) which is used to identify the business entity. With CorpNet''s Tax ID service, we will obtain your company''s Tax ID from the IRS once your business form'
                                  Dependency: null
                                - SLAdisplayText: null
                                  ProductNameSubtitle: null
                                  ProductName: Prepare S-Corp Election Form 2553
                                  ProductLimit: null
                                  ProductId: 01t8D0000001FNbQAM
                                  ProductFamily: Package Addons
                                  ProductConstraint: null
                                  PackageDisplaySelectionSubtitle: null
                                  PackageDisplaySelection: Optional
                                  OptionalDisplayName: null
                                  NonDiscountable: false
                                  Id: a0A8D000000D24cUAC
                                  FormioId: null
                                  DisplaySequence: 70
                                  Description: An S-Corp election is a tax election by the IRS for tax purposes. You'll have to make the special election with the IRS using this Form 2553. This election can give the ease of business of the LLC and the tax benefits of the S-Corporation. We recommend se
                                  Dependency: null
[...]
