openapi: 3.0.0
info:
  version: 1.0.0
  title: Phase 2 Endpoints
  description: Providing Client and Partner Data to support the CCC
servers:
  - url: 'https://corpnet--build.sandbox.my.salesforce.com/services/apexrest/service'
    description: Build Sandbox
  - url: 'https://corpnet.my.salesforce.com/services/apexrest/service'
    description: Production
  - url: 'https://corpnet--fullphase2.sandbox.lightning.force.com/services/apexrest/service'
    description: Phase 2 Full Sandbox
paths:
  '/user/{UserId}':
    get:
      summary: Get User Access Info
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    ClientsInfo:
                      - UID: 5a6ff6f5-9a72-459b-a26d-f1980d8f6407
                        ShippingAddress: null
                        PID: null
                        Name: Kendall Testy Helms
                        LogoURL: null
                        Id: 0018D00000Mykg9QAB
                        Discount: null
                        Contacts:
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0053h0000030ekPAAQ
                            Name: Reginald Quaint
                            Id: 0038D00000I071GQAR
                            Email: existingacct@test.texas
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: null
                            OwnerId: 0058D000000QCgRQAW
                            Name: Kendall Testy Helms
                            Id: 0038D00000Fo4FhQAJ
                            Email: kendalltesty.h@symsoftsolutions.com
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0058D000000QCgRQAW
                            Name: Peter Party
                            Id: 0038D00000IAfSzQAL
                            Email: peterparty@texas.test
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0058D000000QCgRQAW
                            Name: Mundungus Fletcher
                            Id: 0038D00000J0QwmQAF
                            Email: dungy.fletch@ww.hp
                            AccountId: 0018D00000Mykg9QAB
                        BrainTreeProfileId: '49897021653'
                        BillingAddress: null
                        AccountReferralId: '0'
                properties:
                  authId:
                    type: string
                    x-stoplight:
                      id: 1xu763dw8d4fm
                    description: |-
                      The Auth_Id__c parameter passed with the call should find a User_Identity__c record with a matching Auth_Id__c
                      The Contact__c of that record will be the one returned in the Contact section. As well as returning the Account acccesses related to that contact.
                  contact:
                    $ref: '#/components/schemas/Contact'
                  accountAccesses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account-access'
              examples: {}
      security:
        - OAuth Token: []
      servers:
        - url: 'https://corpnet--build.sandbox.my.salesforce.com/services/apexrest/service'
        - url: 'https://corpnet.my.salesforce.com/services/apexrest/service'
          description: ''
      operationId: U2
      description: 'This call  will be used connect a specific auth id to a single contact in Salesforce returning all the access information for that contact to view or edit accounts and entities. '
      x-stoplight:
        id: zi0aw2s5nrz60
    parameters:
      - $ref: '#/components/parameters/UserId'
  '/account/{AccountId}':
    get:
      summary: Get Account Info
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountInfo:
                    $ref: '#/components/schemas/Account'
                  orders:
                    type: array
                    x-stoplight:
                      id: 3pskkwix6btk5
                    description: |-
                      Where Order.AccountId = AccountId

                      20 most recent
                    items:
                      $ref: '#/components/schemas/Order'
                  complianceAlerts:
                    type: array
                    x-stoplight:
                      id: ehes5qypcijqr
                    description: Opportunities Where Account.Id = AccountId
                    items:
                      $ref: '#/components/schemas/Opportunity'
                  tasks:
                    type: array
                    x-stoplight:
                      id: gzspcx7gsrkjg
                    description: Request_for_Information__c Where Case.AccountId = AccountId
                    items:
                      $ref: '#/components/schemas/Tasks'
                  entities:
                    type: array
                    x-stoplight:
                      id: 9su1aewp7t9wo
                    description: |-
                      Entity__c records where Account__c = the AccountId Param

                      AND   Where the Contact has Entity_access__c to the Entity

                      For businessAddress
                      Entity__c.Business_Address_1__c
                      Entity__c.Business_Address_2__c
                      Entity__c.City__c
                      Entity__c.State__c
                      Entity__c.Zip_Code__c
                      Entity__c.Country__c
                      Entity__c.County__c
                      Ignore Phone & Email
                    items:
                      $ref: '#/components/schemas/Entity'
                  numberofOrders:
                    type: integer
                    x-stoplight:
                      id: q1jogiwl4sce8
                    description: Count of all orders realated to the AccountId
                  pendingOrders:
                    type: integer
                    x-stoplight:
                      id: 72ab12gkq9ret
                    description: |
                      Count of all orders realated to the AccountId
                      where P != completed
                  totalCompanies:
                    type: integer
                    x-stoplight:
                      id: pl9rvj2jkikef
                    description: count of Entities where Account__c = Count of all orders realated to the AccountId
                  totalClients:
                    type: integer
                    x-stoplight:
                      id: gtgsr7okulpql
                    description: |-
                      Partner_Role__c Where Partner_Account__c = AccountId

                      Type??
                      operationId: get-getaccountinfo
                      x-stoplight:
                        id: 5yfcoc6qmiv8h
                    nullable: true
      requestBody:
        content: {}
        description: ''
      parameters:
        - $ref: '#/components/parameters/user_id'
      operationId: U3
      description: |-
        Information for the account Id provided in the AccountId Param.  For the orders node lets bring the last 10 orders

        The Contact Id (UserId) provided is used to determine access level to the Account and Entities returned in the call.

        User Access Flow diagram - https://www.figma.com/file/F0GJB0XB7dLJkwTV5QNCG5/Corpnet-CCC---Determining-User-Access-to-Accounts-and-Related-Entities?type=whiteboard&node-id=0%3A1&t=rYcp9ulNsdte3Z94-1
      x-stoplight:
        id: k98ccoe5v1gfx
    parameters:
      - $ref: '#/components/parameters/AccountId'
  '/entity/{EntityId}':
    get:
      summary: GET Entity
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity-Expanded'
      operationId: get-entity
      x-stoplight:
        id: 5asyx5wrvbr2f
      description: This call is used to get data for a comprehensive view of all the data relateing to a single entity.
      parameters:
        - $ref: '#/components/parameters/user_id'
    parameters:
      - $ref: '#/components/parameters/EntityId'
  '/entity/{EntityId}/states/taxregistrations':
    get:
      summary: GET Entity Tax Registrations
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-entity-trs
      x-stoplight:
        id: ck2vm5ocgcba0
      parameters:
        - $ref: '#/components/parameters/user_id'
    parameters:
      - $ref: '#/components/parameters/EntityId'
  '/entity/{EntityId}/states':
    get:
      summary: GET States info for Entity
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-states
      x-stoplight:
        id: ubzd3rw0991x2
      parameters:
        - $ref: '#/components/parameters/user_id'
      description: ''
    parameters:
      - $ref: '#/components/parameters/EntityId'
components:
  parameters:
    id:
      name: id
      in: query
      description: Locate record by Salesforce case safe object ID
      required: false
      schema:
        type: string
    uid:
      name: uid
      in: query
      description: Locate record by externally generated UID
      required: false
      schema:
        type: string
    guid:
      name: guid
      in: query
      description: Locate record by SQL GUID
      schema:
        type: string
    AccountId:
      name: AccountId
      in: path
      required: true
      schema:
        type: string
      description: 'Salesforce Account Id '
    EntityId:
      name: EntityId
      in: path
      required: true
      schema:
        type: string
      description: Entity__c.id from salesforce
    UserId:
      name: UserId
      in: path
      required: true
      schema:
        type: string
      description: User ID is a UserIdentity__c.Auth_Id__c in Salesforce
    user_id:
      name: user_id
      in: query
      required: true
      schema:
        type: string
      description: User ID is a Contact.Id in Salesforce. This is used to determine the user's access level.
  schemas:
    Contact:
      type: object
      title: Contact
      description: Whenever a contact is returned these are the fields to include. See specific endpoint description to determine what specific contact to reference...
      properties:
        id:
          type: string
          description: Id
        firstName:
          type: string
          description: Contact.FirstName
          x-stoplight:
            id: jayomjbtzq97y
        lastName:
          type: string
          description: Contact.LastName
          x-stoplight:
            id: z84f6hrk5ke9f
        address:
          $ref: '#/components/schemas/Address'
    Account-access:
      type: object
      title: Account-access
      description: Display these fields when returning Account_Access__c records.
      properties:
        accessLevel:
          type: string
          description: Access_Account__c.Level__c
        account:
          $ref: '#/components/schemas/Account'
        entityAccesses:
          type: array
          description: Enity Access records accociated with the Access_Account__c record
          items:
            $ref: '#/components/schemas/Entity-Access'
        id:
          type: string
          x-stoplight:
            id: cpugvoqmvm4lj
          description: Access_Account__c.Id
    Account:
      type: object
      description: General Account info for an account
      properties:
        id:
          type: string
          x-stoplight:
            id: xo62ntsc6mwgw
          description: |
            Account.Id
        name:
          type: string
          x-stoplight:
            id: 3h52wyrohukvu
          description: Account.Name
        type:
          type: string
          x-stoplight:
            id: 13lf94p7jzgjb
          description: |-
            Partner or Consumer

            RecordtypeName  Partner  Else Consumer
    Entity:
      type: object
      title: Entity
      description: |-
        All core entity data for a single entity

        For businessAddress
        Entity__c.Business_Address_1__c
        Entity__c.Business_Address_2__c
        Entity__c.City__c
        Entity__c.State__c
        Entity__c.Zip_Code__c
        Entity__c.Country__c
        Entity__c.County__c
        Ignore Phone & Email
      x-examples:
        Example 1:
          Name: String
          Id: string
          Type: string
      properties:
        id:
          type: string
          description: Entity__c.Id
          x-stoplight:
            id: 3kupa02fmq3vt
        name:
          type: string
          description: |
            Entity__c.Name
          x-stoplight:
            id: lu54rdorqsjl6
        formationDate:
          type: string
          description: Entity__c.Formation_Date__c
        type:
          type: string
          description: Entity.Entity_Type__c
          x-stoplight:
            id: 0a67wadd5nw4y
        ein:
          type: string
          description: Entity__c.EIN__c
        filingnumber:
          type: string
          description: Entity.Filing_Number__c
        numberOfOrders:
          type: string
          x-stoplight:
            id: rbw5jce910apy
          description: count of orders related to this entity
        numberOfAlerts:
          type: string
          x-stoplight:
            id: qnq5cdggsgdld
          description: count of compliance alter type opportunities related to this entity
        homeState:
          type: string
          x-stoplight:
            id: vjf1zw2ipcvmd
          description: Entity__c.Home_State__c
        businessDescription:
          type: string
          x-stoplight:
            id: 2z1660pzz1p0w
          description: Entity.Business_Description__c
        buisnessCategory:
          type: string
          x-stoplight:
            id: z4841sx3j5dcu
          description: Entity__c.Business_Category__c
        website:
          type: string
          x-stoplight:
            id: o0x66uwkm1b08
          description: Entity__c.Website_URL__c
        businessAddress:
          $ref: '#/components/schemas/Address'
    Entity-Expanded:
      type: object
      x-stoplight:
        id: 7cl214gekt1el
      title: Entity Expanded
      description: |-
        All core entity data for a single entity.  Id =  {EntityId} provided as Param 

        for entity buisness address  
        Entity__c.Business_Address_1__c
        Entity__c.Business_Address_2__c
        Entity__c.City__c
        Entity__c.State__c
        Entity__c.Zip_Code__c
        Entity__c.Country__c
        Entity__c.County__c
        Ignore Phone & Email
      x-examples:
        Example 1:
          Name: String
          Id: string
          Type: string
      properties:
        entityBasic:
          $ref: '#/components/schemas/Entity'
        toDos:
          type: array
          x-stoplight:
            id: fty9rmuid3og8
          description: 'Request for Information Records Where Entity= entity id provided.  {EntityId}'
          items:
            $ref: '#/components/schemas/Opportunity'
        orders:
          type: array
          x-stoplight:
            id: ue4371jqwxo69
          description: 'Order Records where Entity__c = {EntityId}'
          items:
            $ref: '#/components/schemas/Order'
        states:
          x-stoplight:
            id: 6nmuashjaxca1
          type: array
          description: 'Entity_State__c Records where Entity__c = {EntityId}'
          items:
            $ref: '#/components/schemas/entityStates'
    Entity-Access:
      type: object
      title: Entity-Access
      properties:
        accessLevel:
          type: string
          description: Access_Entity__c.Level__c
          x-stoplight:
            id: c1vurnfd7gvp3
        entity:
          $ref: '#/components/schemas/Entity'
    Order:
      title: OrderBasic
      x-stoplight:
        id: 1cwt2xny02c6f
      type: object
      description: Basic Order data to be returned in an array.  Supports the dashboard view in GetAccountInfo
      properties:
        id:
          type: string
          x-stoplight:
            id: 6zgbamrv42kw1
          description: |
            Order.Id
        uid:
          type: string
          x-stoplight:
            id: 94kvskkjukb6x
          description: Order.UID__c
        orderNumber:
          type: string
          x-stoplight:
            id: tvc0isa4fuqi9
          description: Order.OrderNumber
        status:
          type: string
          x-stoplight:
            id: fbl74v66trbuz
          description: Order.Order_Phase__c
        orderDate:
          type: string
          x-stoplight:
            id: 1b4f4ch3lzp5b
          description: Order.EffectiveDate
        amount:
          type: string
          x-stoplight:
            id: w4fhwalz3l12z
          description: Order.TotalAmount
        serviceCategory:
          type: string
          x-stoplight:
            id: d00p3oaw164k5
          description: Order.Type
        companyName:
          type: string
          x-stoplight:
            id: 9nnnrd8xyo6be
          description: Order.Entity_Name__c
        accountId:
          type: string
          x-stoplight:
            id: br5rk1hknc7sy
          description: Order.AccountId
        completionDate:
          type: string
          x-stoplight:
            id: xgyxo3dj60cjv
          description: Order.Completion_Date__c
        filingStates:
          type: array
          x-stoplight:
            id: 3bp6dsxll3gvh
          description: array of Order_Filing_State__c records where Order__c = id of this Order_Filing_State__c
          items:
            $ref: '#/components/schemas/Filing-State'
    Opportunity:
      title: Opportunity
      x-stoplight:
        id: r6023kgv92gio
      type: object
      description: |-
        Opportunities form Salesforce are Tasks in the CCC.  potental sales based on upcoming deadlines etc...
        Get Opportunites WHERE "type__c" = "Compliance Alert"
      properties:
        id:
          type: string
          x-stoplight:
            id: ok2hnhhwxm8ze
          description: Opportunity.Id
        name:
          type: string
          x-stoplight:
            id: gyqadoj1axsdw
          description: Opportunity.Name
        serviceCategory:
          type: string
          x-stoplight:
            id: 4qv2xxes6clwh
          description: "Opportunity.Service_Category__c\t"
        closeDate:
          type: string
          x-stoplight:
            id: 4xwboxgw82yg2
          description: Opportunity.CloseDate
        amount:
          type: string
          x-stoplight:
            id: r4j0ypj3tt2jj
          description: Opportunity.Amount
    Tasks:
      title: Tasks
      x-stoplight:
        id: 5yiwx1fxvk3qk
      type: object
      description: |-
        Query of Request_for_information__c based on the account 
        GET Request_for_information__c WHERE Status != Completed
      properties:
        id:
          type: string
          x-stoplight:
            id: ieg5eyewy2sy4
          description: Request_for_information__c.Id
        name:
          type: string
          x-stoplight:
            id: nhii077zzhirb
          description: Request_for_information__c.Name
        requestComment:
          type: string
          x-stoplight:
            id: hv3wqlbmm7q27
          description: Request_for_information__c.Request__c
        status:
          type: string
          x-stoplight:
            id: tocob2rxjq1j2
          description: Request_for_information__c.Status__c
        type:
          type: string
          x-stoplight:
            id: 31y6k0gs46lj0
          description: Request_for_information__c.Type__c
        case:
          type: string
          x-stoplight:
            id: xkvjqueozpfy4
          description: Request_for_information__c.Case__c
        order:
          type: string
          x-stoplight:
            id: 2z0lizjytmn0j
          description: Request_for_information__c.Order__c
        customerEmail:
          type: string
          x-stoplight:
            id: 2gptgdgq5k6bu
          description: Request_for_information__c.Customer_Email__c
    ToDo:
      type: object
      properties:
        requestComment:
          type: string
          x-stoplight:
            id: kpyf3r9leq6ka
          description: Request_for_Information__c.Request__c
        status:
          type: string
          x-stoplight:
            id: daertm1d3dq1z
          description: Request_for_Information__c.Status__c
        type:
          type: string
          x-stoplight:
            id: p6ib7oro58i24
          description: |
            Request_for_Information__c.Type__c
        orderId:
          type: string
          x-stoplight:
            id: lh0e1xr3y7z78
          description: |
            Request_for_Information__c.Order__c
        caseId:
          type: string
          x-stoplight:
            id: tk3hoacicepjl
          description: |
            Request_for_Information__c.Case__c
      title: ''
    EntityMembers:
      title: Entity Member
      x-stoplight:
        id: rgf9nne9bl5wl
      type: object
      description: |-
        Entity_Member__c

        entity property: Access level to this entity is determined first by an the Level__c on the Access_Entity__c where the Contact   matches the Contact__c and the Entity matches the Entity__c

        If no record exists we look for Access_Account__c for the account that entity belongs to and use the Level__c of access on that record
      properties:
        id:
          type: string
          x-stoplight:
            id: tba48q87kwb03
          description: 'Id of Entity_Member__c record '
        contact:
          $ref: '#/components/schemas/Contact'
        role:
          type: string
          x-stoplight:
            id: 6doqvq5v2ey8b
        address:
          $ref: '#/components/schemas/Address'
    DBA:
      title: DBA
      x-stoplight:
        id: txpe0zs4nfvjk
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 6qgx9u1xsfsey
    Locations:
      title: Location
      x-stoplight:
        id: abn1wzfp303p2
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: llxttrmzkknbq
        name:
          type: string
          x-stoplight:
            id: nzyn5qcqx8wk0
        type:
          type: string
          x-stoplight:
            id: qkyqfclyxbn8x
        address:
          $ref: '#/components/schemas/Address'
    RegisteredAgent:
      title: RegisteredAgent
      x-stoplight:
        id: thd208g4cz6nq
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 3cuco7z0d18vz
    entityStates:
      title: Entity State
      x-stoplight:
        id: hdvnxd7ugkq61
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 2m3dwd2del84w
        stateName:
          type: string
          x-stoplight:
            id: hk5vq940ulcmh
        stateAbv:
          type: string
          x-stoplight:
            id: 33ksu22anvgx7
        beganOperations:
          type: string
          x-stoplight:
            id: i6o79ogiizeov
        firstPayrollDate:
          type: string
          x-stoplight:
            id: 1kcp2idboeazv
        foreignQualified:
          type: string
          x-stoplight:
            id: jm7r7ithdzz4v
        primary:
          type: boolean
          x-stoplight:
            id: 0g66jizi0f3o7
        locations:
          type: array
          x-stoplight:
            id: rsgbp62udzuzd
          items:
            $ref: '#/components/schemas/Locations'
        dba:
          type: array
          x-stoplight:
            id: z2m3meqbwgy6y
          items:
            $ref: '#/components/schemas/DBA'
        entityMembers:
          type: array
          x-stoplight:
            id: vwnqw818i5lvn
          items:
            $ref: '#/components/schemas/EntityMembers'
        registeredAgent:
          $ref: '#/components/schemas/RegisteredAgent'
        businessLicenses:
          type: array
          x-stoplight:
            id: qtec7upkwou83
          items:
            $ref: '#/components/schemas/Business-Licenses'
    Address:
      title: Address
      x-stoplight:
        id: onclvg3d55se1
      type: object
      properties:
        street:
          type: string
          x-stoplight:
            id: 98d76humzm9o6
        street2:
          type: string
          x-stoplight:
            id: kndr2llu1h67m
        city:
          type: string
          x-stoplight:
            id: hcr69j8ysch5v
        state:
          type: string
          x-stoplight:
            id: rei3hbwn8439t
        zip:
          type: string
          x-stoplight:
            id: ljpcbwgq26qjl
        country:
          type: string
          x-stoplight:
            id: 46fq2402b9niv
        phone:
          type: string
          x-stoplight:
            id: fi8yj1rwl2hmy
        email:
          type: string
          x-stoplight:
            id: 3ubu44k0rgpec
    Business-Licenses:
      title: Business-Licenses
      x-stoplight:
        id: x1tkak6uo4w04
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: ydlznqe5gxh5e
    Filing-State:
      title: Filing-State
      x-stoplight:
        id: 6toryaojblma2
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: okozsxiejfhfp
    Order-Expanded:
      title: Order-Expanded
      x-stoplight:
        id: 3h7v60sxyou1z
      type: object
      properties:
        basicOrderInfo:
          $ref: '#/components/schemas/Order'
        Cases:
          type: array
          x-stoplight:
            id: p8nzpop8ijorh
          items:
            $ref: '#/components/schemas/Case'
    Case:
      title: Case
      x-stoplight:
        id: r01lg8b83dc7u
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 1ap3ynygszp89
          description: Case.Id
        caseNumber:
          type: string
          x-stoplight:
            id: qmgrtavr023ln
          description: Case.CaseNumber
        phase:
          type: string
          x-stoplight:
            id: bu6kbjlxbrv2v
          description: Case.Status
        status:
          type: string
          x-stoplight:
            id: 5n80u4flaobxk
          description: Case.Sub_Status__c
        openDateTime:
          type: string
          x-stoplight:
            id: jswg1csofx8xj
          description: Case.CreatedDate
        closeDateTime:
          type: string
          x-stoplight:
            id: zqgghkmgargnj
          description: Case.ClosedDate
        serviceCategory:
          type: string
          x-stoplight:
            id: bv36edfq0djkd
          description: Case.Type
      description: ''
  securitySchemes:
    OAuth Token:
      type: oauth2
      flows:
        password:
          tokenUrl: /services/oauth2/token
          scopes: {}
      description: ''
security:
  - OAuth Token: []
tags: []
