openapi: 3.0.0
info:
  version: 1.0.0
  title: Phase 2 Endpoints
  description: Providing Client and Partner Data to support the CCC
servers:
  - url: 'https://corpnet--build.sandbox.my.salesforce.com/services/apexrest/service'
    description: Build Sandbox
  - url: 'https://corpnet.my.salesforce.com/services/apexrest/service'
    description: Production
  - url: 'https://corpnet--fullphase2.sandbox.lightning.force.com/services/apexrest/service'
    description: Phase 2 Full Sandbox
paths:
  '/user/{UserId}':
    get:
      summary: Get User Access Info
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    ClientsInfo:
                      - UID: 5a6ff6f5-9a72-459b-a26d-f1980d8f6407
                        ShippingAddress: null
                        PID: null
                        Name: Kendall Testy Helms
                        LogoURL: null
                        Id: 0018D00000Mykg9QAB
                        Discount: null
                        Contacts:
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0053h0000030ekPAAQ
                            Name: Reginald Quaint
                            Id: 0038D00000I071GQAR
                            Email: existingacct@test.texas
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: null
                            OwnerId: 0058D000000QCgRQAW
                            Name: Kendall Testy Helms
                            Id: 0038D00000Fo4FhQAJ
                            Email: kendalltesty.h@symsoftsolutions.com
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0058D000000QCgRQAW
                            Name: Peter Party
                            Id: 0038D00000IAfSzQAL
                            Email: peterparty@texas.test
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0058D000000QCgRQAW
                            Name: Mundungus Fletcher
                            Id: 0038D00000J0QwmQAF
                            Email: dungy.fletch@ww.hp
                            AccountId: 0018D00000Mykg9QAB
                        BrainTreeProfileId: '49897021653'
                        BillingAddress: null
                        AccountReferralId: '0'
                properties:
                  authUser:
                    $ref: '#/components/schemas/auth'
                  contact:
                    $ref: '#/components/schemas/Contact'
                  accountAccesses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account-access'
              examples: {}
      security:
        - OAuth Token: []
      servers:
        - url: 'https://corpnet--build.sandbox.my.salesforce.com/services/apexrest/service'
        - url: 'https://corpnet.my.salesforce.com/services/apexrest/service'
          description: ''
      operationId: U2
      description: |-
        This call  will be used connect a specific auth id to a single contact in Salesforce returning all the access information for that contact to view or edit accounts and entities. 

        Access flow chart diagram in figma:  https://www.figma.com/file/F0GJB0XB7dLJkwTV5QNCG5/Corpnet-CCC---Determining-User-Access-to-Accounts-and-Related-Entities?type=whiteboard&t=zYLzYVgfGSnh156s-0
      x-stoplight:
        id: zi0aw2s5nrz60
    parameters:
      - $ref: '#/components/parameters/UserId'
  '/account/{AccountId}':
    get:
      summary: Get Account Info
      tags: []
      responses:
        '200':
          description: |
            OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountInfo:
                    $ref: '#/components/schemas/Account'
                  orders:
                    type: array
                    x-stoplight:
                      id: 3pskkwix6btk5
                    description: |-
                      Where Order.AccountId = AccountId

                      20 most recent
                    items:
                      $ref: '#/components/schemas/Order'
                  complianceAlerts:
                    type: array
                    x-stoplight:
                      id: ehes5qypcijqr
                    description: Opportunities Where Account.Id = AccountId
                    items:
                      $ref: '#/components/schemas/Opportunity'
                  tasks:
                    type: array
                    x-stoplight:
                      id: gzspcx7gsrkjg
                    description: Request_for_Information__c Where Case.AccountId = AccountId
                    items:
                      $ref: '#/components/schemas/Tasks'
                  entities:
                    type: array
                    x-stoplight:
                      id: 9su1aewp7t9wo
                    description: |-
                      Entity__c records where Account__c = the AccountId Param

                      AND   Where the Contact has Entity_access__c to the Entity

                      For businessAddress
                      Entity__c.Business_Address_1__c
                      Entity__c.Business_Address_2__c
                      Entity__c.City__c
                      Entity__c.State__c
                      Entity__c.Zip_Code__c
                      Entity__c.Country__c
                      Entity__c.County__c
                      Ignore Phone & Email
                    items:
                      $ref: '#/components/schemas/Entity'
                  numberofOrders:
                    type: integer
                    x-stoplight:
                      id: q1jogiwl4sce8
                    description: Count of all orders realated to the AccountId
                  pendingOrders:
                    type: integer
                    x-stoplight:
                      id: 72ab12gkq9ret
                    description: |
                      Count of all orders realated to the AccountId
                      where Order_Phase__c != completed
                  totalCompanies:
                    type: integer
                    x-stoplight:
                      id: pl9rvj2jkikef
                    description: count of Entities where Account__c = Count of all orders realated to the AccountId
                  totalClients:
                    type: integer
                    x-stoplight:
                      id: gtgsr7okulpql
                    description: |-
                      Partner_Role__c Where Partner_Account__c = AccountId

                      Type??
                      operationId: get-getaccountinfo
                      x-stoplight:
                        id: 5yfcoc6qmiv8h
                    nullable: true
                  accountAccesses:
                    type: array
                    x-stoplight:
                      id: zi9i4omo40ysi
                    description: |
                      This returns a list of the users who have access to this account. 
                      Access Definition
                      if the user has an admin (primary or delegated) level access to this parent account return all Access_Account__c records.
                    items:
                      x-stoplight:
                        id: 9iwzcdmq0a43o
                      type: object
                      properties:
                        accessAccount:
                          $ref: '#/components/schemas/Account-access'
                        userContact:
                          $ref: '#/components/schemas/Contact'
      requestBody:
        content: {}
        description: ''
      parameters:
        - $ref: '#/components/parameters/user_id'
      operationId: U3
      description: |-
        Information for the account Id provided in the AccountId Param.  For the orders node lets bring the last 10 orders

        The Contact Id (UserId) provided is used to determine access level to the Account and Entities returned in the call.

        User Access Flow diagram - https://www.figma.com/file/F0GJB0XB7dLJkwTV5QNCG5/Corpnet-CCC---Determining-User-Access-to-Accounts-and-Related-Entities?type=whiteboard&node-id=0%3A1&t=rYcp9ulNsdte3Z94-1
      x-stoplight:
        id: k98ccoe5v1gfx
    parameters:
      - $ref: '#/components/parameters/AccountId'
  '/account/{AccountId}/entityMembers':
    get:
      summary: Get Account Entity Members
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  entityMembers:
                    x-stoplight:
                      id: kkyh49axrkvfr
                    allOf:
                      - items:
                          $ref: '#/components/schemas/EntityMembers'
                    description: The complete list of Entity_Member__c records belonging to every accessible Entity__c belonging to the Account.
                    type: array
                  entityAffiliations:
                    x-stoplight:
                      id: 6czqcpuf178kq
                    allOf:
                      - items:
                          $ref: '#/components/schemas/EntityAffiliation'
                    description: The complete list of Entity_Affiliation__c records belonging to every accessible Entity__c belonging to the Account.
                    type: array
      operationId: get-account-entityMembers
      x-stoplight:
        id: 38rzj2a7z0y82
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/user_id'
  '/entity/{EntityId}':
    get:
      summary: GET Entity
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity-Expanded'
      operationId: get-entity
      x-stoplight:
        id: 5asyx5wrvbr2f
      description: This call is used to get data for a comprehensive view of all the data relateing to a single entity.
      parameters:
        - $ref: '#/components/parameters/user_id'
    parameters:
      - $ref: '#/components/parameters/EntityId'
  '/order/{OrderId}':
    parameters:
      - schema:
          type: string
        name: OrderId
        in: path
        required: true
    get:
      summary: GET Order
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order-Expanded'
      operationId: get-order-OrderId
      x-stoplight:
        id: 49eqnuq5os721
      description: |-
        Get all details and related data for a single order with the order.Id as the parameter for identifing the order.  UserId (Contact.id) will be passed to determine access to the order. 
        userid is required and will throw an access error if not provided. 
        Access to the order will be determined by the existence of Entity Access for the Contact to the Entity related to the specifc order. 
      parameters:
        - $ref: '#/components/parameters/user_id'
  '/account/{AccountId}/entities':
    get:
      summary: Get Account Entities
      tags: []
      responses:
        '200':
          description: All entities belonging to the account and accessible to the user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
      operationId: get-account-AccountId
      x-stoplight:
        id: 2mt6zbzdks4d3
      parameters:
        - $ref: '#/components/parameters/user_id'
    parameters:
      - $ref: '#/components/parameters/AccountId'
components:
  parameters:
    id:
      name: id
      in: query
      description: Locate record by Salesforce case safe object ID
      required: false
      schema:
        type: string
    uid:
      name: uid
      in: query
      description: Locate record by externally generated UID
      required: false
      schema:
        type: string
    guid:
      name: guid
      in: query
      description: Locate record by SQL GUID
      schema:
        type: string
    AccountId:
      name: AccountId
      in: path
      required: true
      schema:
        type: string
      description: 'Salesforce Account Id '
    EntityId:
      name: EntityId
      in: path
      required: true
      schema:
        type: string
      description: Entity__c.id from salesforce
    UserId:
      name: UserId
      in: path
      required: true
      schema:
        type: string
      description: User ID is a UserIdentity__c.Auth_Id__c in Salesforce
    user_id:
      name: user_id
      in: query
      required: true
      schema:
        type: string
      description: User ID is a Contact.Id in Salesforce. This is used to determine the user's access level.
  schemas:
    Contact:
      type: object
      title: Contact
      description: Whenever a contact is returned these are the fields to include. See specific endpoint description to determine what specific contact to reference...
      x-examples:
        Example 1:
          id: string
          firstName: string
          lastName: string
          address:
            street: string
            street2: string
            city: string
            state: string
            zip: string
            country: string
            phone: string
            email: string
      properties:
        id:
          type: string
          description: Id
        firstName:
          type: string
          description: Contact.FirstName
          x-stoplight:
            id: jayomjbtzq97y
        lastName:
          type: string
          description: Contact.LastName
          x-stoplight:
            id: z84f6hrk5ke9f
        birthdate:
          type: string
          x-stoplight:
            id: qqo7baq0ppftl
          description: Contact.Birthdate
        address:
          $ref: '#/components/schemas/Address'
    Account-access:
      type: object
      title: Account-access
      description: |
        Display these fields when returning Account_Access__c records.
      properties:
        accessLevel:
          type: string
          description: Access_Account__c.Level__c
        account:
          $ref: '#/components/schemas/Account'
        entityAccesses:
          type: array
          description: Enity Access records accociated with the Access_Account__c record
          items:
            $ref: '#/components/schemas/Entity-Access'
        id:
          type: string
          x-stoplight:
            id: cpugvoqmvm4lj
          description: Access_Account__c.Id
    Account:
      type: object
      description: |-
        General Account info for an account

        Access Definition:
        query for Access_Account__c record where contact__c = user id and Account__c = entity__c.Customer_Account__c.id

        They should only see the account if they have an access record related to it for the Contact where their Customer_Account__c is related to. 
      properties:
        id:
          type: string
          x-stoplight:
            id: xo62ntsc6mwgw
          description: |
            Account.Id
        name:
          type: string
          x-stoplight:
            id: 3h52wyrohukvu
          description: Account.Name
        type:
          type: string
          x-stoplight:
            id: 13lf94p7jzgjb
          description: |-
            Partner or Consumer

            RecordtypeName  Partner  Else Consumer
        pricebookId:
          type: string
          x-stoplight:
            id: rg2c34ggojudd
          description: Account.Price_Book__c
        brainTreeProfileId:
          type: string
          x-stoplight:
            id: bl7qitdba42ul
          description: Account.BrainTreeProfile_Id__c
    Entity:
      type: object
      title: Entity
      description: |-
        All core entity data for a single entity

        Access Definition:  Based on user_id param  (if null 403 restricted access) 
        user_id is a Salesforce contact id.  

        query for Access_Account__c record where contact__c = user id and Account__c = entity__c.Customer_Account__c.id

        if Access_Account__c.Level__c is Primary Admin, Delegated Admin, All Data Read or All Data Write return this record in the call.

        if Access_Account__c.Level__c is Partial Access query for Access_Entity__c where Access_Account__c = id of account access found and Entity__c = EntityId param   


        if found return record data
        if not found do not return record data or exclude from list 
      x-examples:
        Example 1:
          Name: String
          Id: string
          Type: string
      properties:
        id:
          type: string
          description: Entity__c.Id
          x-stoplight:
            id: 3kupa02fmq3vt
        name:
          type: string
          description: |
            Entity__c.Name
          x-stoplight:
            id: lu54rdorqsjl6
        formationDate:
          type: string
          description: Entity__c.Formation_Date__c
        type:
          type: string
          description: Entity.Entity_Type__c
          x-stoplight:
            id: 0a67wadd5nw4y
        ein:
          type: string
          description: Entity__c.EIN__c
        filingnumber:
          type: string
          description: Entity.Filing_Number__c
        numberOfOrders:
          type: integer
          x-stoplight:
            id: rbw5jce910apy
          description: count of orders related to this entity
        numberOfAlerts:
          type: integer
          x-stoplight:
            id: qnq5cdggsgdld
          description: count of compliance alter type opportunities related to this entity
        numberOfLocations:
          type: integer
          x-stoplight:
            id: ceru9kalwxev8
          description: count of locations related to this entity
        homeState:
          type: string
          x-stoplight:
            id: vjf1zw2ipcvmd
          description: Entity__c.Home_State__c
        businessDescription:
          type: string
          x-stoplight:
            id: 2z1660pzz1p0w
          description: Entity.Business_Description__c
        buisnessCategory:
          type: string
          x-stoplight:
            id: z4841sx3j5dcu
          description: Entity__c.Business_Category__c
        website:
          type: string
          x-stoplight:
            id: o0x66uwkm1b08
          description: Entity__c.Website_URL__c
        businessAddress:
          allOf:
            - $ref: '#/components/schemas/Address'
          description: "Entity__c.Business_Address_1__c\r\nEntity__c.Business_Address_2__c\r\nEntity__c.City__c\r\nEntity__c.State__c\r\nEntity__c.Zip_Code__c\r\nEntity__c.Country__c\r\nEntity__c.County__c\r\nIgnore Phone & Email"
        accessLevel:
          type: string
          x-stoplight:
            id: fvr6ys3fvrbv9
          description: |
            query for Access_Account__c record where contact__c = user id and Account__c = entity__c.Customer_Account__c.id

            if Access_Account__c.Level__c is Partial Access query for Access_Entity__c where Access_Account__c = id of account access found and Entity__c = EntityId param   

            Determine Access_Entity__c.Level__c   if Read Write  return "Write" if Read Only return "Read"


            if Access_Account__c.Level__c is "All Data Read" query for Access_Entity__c where Access_Account__c = id of account access found and Entity__c = EntityId param 

            If not found return "Read"

            If found Determine Access_Entity__c.Level__c   if Read Write  return "Write" if Read Only return "Read"
        companyManagment:
          type: string
          x-stoplight:
            id: zhyladbmgu7fo
          description: Entity__c.CompanyManagement__c
        preferredCardId:
          type: string
          x-stoplight:
            id: ox1nthgx7buj4
          description: Entity__c.Preferred_Card_Braintree_Id__c
    Entity-Expanded:
      type: object
      x-stoplight:
        id: 7cl214gekt1el
      title: Entity Expanded
      description: |-
        All core entity data for a single entity.  Id =  {EntityId} provided as Param 

        Access Definition:  Based on user_id param  (if null 403 restricted access) 
        user_id is a Salesforce contact id.  

        query for Access_Account__c record where contact__c = user id and Account__c = entity__c.Customer_Account__c.id

        if Access_Account__c.Level__c is Primary Admin, Delegated Admin, All Data Read or All Data Write return this record in the call.

        if Access_Account__c.Level__c is Partial Access query for Access_Entity__c where Access_Account__c = id of account access found and Entity__c = EntityId param   

        if found return record data
        if not found do not return record data or exclude from list 
      x-examples:
        Example 1:
          Name: String
          Id: string
          Type: string
      properties:
        entityBasic:
          allOf:
            - $ref: '#/components/schemas/Entity'
        complianceAlerts:
          x-stoplight:
            id: fty9rmuid3og8
          description: 'Opportunity Records Where type is "Compliance Alert", and Entity= entity id provided.  {EntityId}'
          allOf:
            - items:
                $ref: '#/components/schemas/Opportunity'
          type: array
        orders:
          x-stoplight:
            id: ue4371jqwxo69
          description: 'Order Records where Entity__c = {EntityId}'
          allOf:
            - items:
                $ref: '#/components/schemas/Order'
          type: array
        states:
          x-stoplight:
            id: 6nmuashjaxca1
          description: 'Entity_State__c Records where Entity__c = {EntityId}'
          allOf:
            - items:
                $ref: '#/components/schemas/EntityState'
          type: array
        entityMembers:
          x-stoplight:
            id: 9fl3bnkq4r9na
          description: All entity members related to this entity.
          allOf:
            - items:
                $ref: '#/components/schemas/EntityMembers'
          type: array
        entityAffiliations:
          x-stoplight:
            id: 7qwslu55i6xz6
          allOf:
            - items:
                $ref: '#/components/schemas/EntityAffiliation'
          description: All Entity_Affiliation__c records related to this Entity__c
          type: array
        taxRegistrations:
          x-stoplight:
            id: znmannvyc81hx
          description: Entity_State_Account__c records related to this Entity  via Entity__c lookup field
          allOf:
            - items:
                $ref: '#/components/schemas/taxRegistration'
          type: array
        tasks:
          x-stoplight:
            id: 4y9l52hy5m4gm
          description: Request for Information realted to this entity.
          allOf:
            - items:
                $ref: '#/components/schemas/Tasks'
          type: array
    Entity-Access:
      type: object
      title: Entity-Access
      description: These are returned as a nested object under Account-access model.
      properties:
        accessLevel:
          type: string
          description: Access_Entity__c.Level__c
          x-stoplight:
            id: c1vurnfd7gvp3
        entity:
          $ref: '#/components/schemas/Entity'
    Order:
      title: OrderBasic
      x-stoplight:
        id: 1cwt2xny02c6f
      type: object
      description: |-
        Basic Order data to be returned in an array.  Supports the dashboard view in GetAccountInfo

        Order record should only be returned if the user id has access to the Entity (based on Entity or Entity-Expanded models) that the order is nested under.
      properties:
        id:
          type: string
          x-stoplight:
            id: 6zgbamrv42kw1
          description: |
            Order.Id
        uid:
          type: string
          x-stoplight:
            id: 94kvskkjukb6x
          description: Order.UID__c
        orderNumber:
          type: string
          x-stoplight:
            id: tvc0isa4fuqi9
          description: Order.OrderNumber
        status:
          type: string
          x-stoplight:
            id: fbl74v66trbuz
          description: Order.Order_Phase__c
        orderDate:
          type: string
          x-stoplight:
            id: 1b4f4ch3lzp5b
          description: Order.EffectiveDate
        completionDate:
          type: string
          x-stoplight:
            id: xgyxo3dj60cjv
          description: Order.Completion_Date__c
        amount:
          type: number
          x-stoplight:
            id: w4fhwalz3l12z
          description: Order.TotalAmount
        serviceCategory:
          type: string
          x-stoplight:
            id: d00p3oaw164k5
          description: Order.Type
        companyName:
          type: string
          x-stoplight:
            id: 9nnnrd8xyo6be
          description: Order.Entity_Name__c
        accountId:
          type: string
          x-stoplight:
            id: br5rk1hknc7sy
          description: Order.AccountId
        entityType:
          type: string
          x-stoplight:
            id: t9bgdlh16eql4
          description: |
            Order.entity__r.Entity_Type__c
        filingStates:
          type: array
          x-stoplight:
            id: 3bp6dsxll3gvh
          description: array of Order_Filing_State__c records where Order__c = id of this Order_Filing_State__c
          items:
            $ref: '#/components/schemas/Filing-State'
        products:
          type: array
          x-stoplight:
            id: ihidu0dx07iln
          items:
            $ref: '#/components/schemas/product'
    Opportunity:
      title: Opportunity
      x-stoplight:
        id: r6023kgv92gio
      type: object
      description: |-
        Opportunities form Salesforce are Tasks in the CCC.  potental sales based on upcoming deadlines etc...
        Get Opportunites WHERE "type__c" = "Compliance Alert"

        Only return Opportunity records where isClosed = FALSE

        Access definition
        Opportinity record should only be returned if the user id has access to the Entity (based on Entity or Entity-Expanded models) that the opportunity is nested under.
      properties:
        id:
          type: string
          x-stoplight:
            id: ok2hnhhwxm8ze
          description: Opportunity.Id
        name:
          type: string
          x-stoplight:
            id: gyqadoj1axsdw
          description: Opportunity.Name
        serviceCategory:
          type: string
          x-stoplight:
            id: 4qv2xxes6clwh
          description: "Opportunity.Service_Category__c\t"
        closeDate:
          type: string
          x-stoplight:
            id: 4xwboxgw82yg2
          description: Opportunity.CloseDate
        amount:
          type: number
          x-stoplight:
            id: r4j0ypj3tt2jj
          description: Opportunity.Amount
        description:
          type: string
          x-stoplight:
            id: uh3z6y2xgvzu8
          description: Opportunity.Description
        status:
          type: string
          x-stoplight:
            id: rra3u3ju0oky2
          description: Opportunity.StageName
        companyName:
          type: string
          x-stoplight:
            id: 0z46zl39s26sa
          description: Opportunity.Entity__c.Name
        serviceState:
          type: string
          x-stoplight:
            id: sy1i09gykqsbg
          description: Opportunity.State__c
        companyId:
          type: string
          x-stoplight:
            id: znn3z6fpjrudh
          description: |
            Opportunity.Entity__c.Id
        productPackageId:
          type: string
          x-stoplight:
            id: s4mhlc8jmrkks
          description: Opportunity.Product_Package_Id__c
        opportunityProducts:
          type: array
          x-stoplight:
            id: j568m1nudkrl7
          items:
            $ref: '#/components/schemas/product_copy'
    Tasks:
      title: Tasks
      x-stoplight:
        id: 5yiwx1fxvk3qk
      type: object
      description: |-
        Query of Request_for_information__c (RFI) based on the account 
        GET Request_for_information__c WHERE Status != Completed

        Access definition
        Task access is based on user access to the Case this task is related to. 
      properties:
        id:
          type: string
          x-stoplight:
            id: ieg5eyewy2sy4
          description: Request_for_information__c.Id
        name:
          type: string
          x-stoplight:
            id: nhii077zzhirb
          description: Request_for_information__c.Name
        requestComment:
          type: string
          x-stoplight:
            id: hv3wqlbmm7q27
          description: Request_for_information__c.Request__c
        status:
          type: string
          x-stoplight:
            id: tocob2rxjq1j2
          description: Request_for_information__c.Status__c
        type:
          type: string
          x-stoplight:
            id: 31y6k0gs46lj0
          description: Request_for_information__c.Type__c
        orderId:
          type: string
          x-stoplight:
            id: 2z0lizjytmn0j
          description: Request_for_information__c.Order__c.Id
        caseId:
          type: string
          x-stoplight:
            id: xkvjqueozpfy4
          description: Request_for_information__c.Case__c.Id
        customerEmail:
          type: string
          x-stoplight:
            id: 2gptgdgq5k6bu
          description: Request_for_information__c.Customer_Email__c
        entityId:
          type: string
          x-stoplight:
            id: mzwh8vwtbs4fq
          description: Request_for_information__c.Case__c.Entity__c.id
        jsonSummary:
          type: string
          x-stoplight:
            id: tq3cxa1xafvbs
          description: Request_for_information__c.JSON_Summary__c
        response:
          type: string
          x-stoplight:
            id: xvefv3i8v7z82
          description: Request_for_information__c.Response__c
        documentPreviewUrl:
          type: string
          x-stoplight:
            id: ryrb9561psj1g
          description: Request_for_information__c.Document_Preview_URL__c
        documentDownloadUrl:
          type: string
          x-stoplight:
            id: bjfldl9fcg1ex
          description: Request_for_information__c.Document_Download_URL__c
        feeOrderId:
          type: string
          x-stoplight:
            id: a6n5ve2fgzkt5
          description: Request_for_information__c.Fee_Order_Id__c
        memberRequirements:
          type: string
          x-stoplight:
            id: ybd6y2493d4h6
          description: |-
            Request_for_information__c.Member_Requirements__c
            (multiselect picklist ; delimited)
        requestForms:
          x-stoplight:
            id: wbthkdsu5i7ks
          allOf:
            - items:
                $ref: '#/components/schemas/requestForm'
          description: All Request_Form__c records realted to this RFI via Request_for_Information__c field
          type: array
    EntityMembers:
      title: Entity Member
      x-stoplight:
        id: rgf9nne9bl5wl
      type: object
      description: |-
        Entity_Member__c.

        Access definition
        Entity_Member__c records should only be returned if the user id has access to the Entity (based on Entity or Entity-Expanded models) that the Entity_Member__c is related to in the Entity__r field.
      properties:
        id:
          type: string
          x-stoplight:
            id: tba48q87kwb03
          description: 'Id of Entity_Member__c record '
        entityId:
          type: string
          x-stoplight:
            id: q3f3z3epvxqoy
          description: Entity_Member__c.Entity__c.Id
        title:
          type: string
          x-stoplight:
            id: 6doqvq5v2ey8b
          description: Entity_member__c.title__c
        ownershipPercentage:
          type: number
          x-stoplight:
            id: 02z2f0int4uv6
          description: Entity_Member__c.Ownership_Percentage__c
        contact:
          allOf:
            - $ref: '#/components/schemas/Contact'
          description: Entity_Member__c.Contact__c
        memberAddress:
          allOf:
            - $ref: '#/components/schemas/Address'
          description: "Entity_Member__c\r\n    .Member_Address_1__c\r\n    .Member_Address_2__c\r\n    .Member_City__c\r\n    .Member_State__c\r\n    .Member_Zip_Code__c\r\n    .Member_Country__c\r\n    .Email__c\r\n    .Phone__c"
        responsiblePartyIn:
          type: array
          x-stoplight:
            id: 7qwxroayg3d0y
          description: List of states in which the Entity_Member__c is linked to a Responsible_Party__c record.
          items:
            x-stoplight:
              id: wjvq4o2frvm32
            type: object
            properties:
              stateName:
                type: string
                x-stoplight:
                  id: swb9y2qv1sxbb
                description: Responsible_Party__c.State__c
              entityStateId:
                type: string
                x-stoplight:
                  id: ajiqu755cg794
                description: Responsible_Party__c.Entity_State__c.Id
              signitory:
                type: boolean
                x-stoplight:
                  id: c8xnsnkdtb19t
                description: Responsible_Party__c.Signatory__c
        taxMemberContact:
          type: array
          x-stoplight:
            id: av3bf3k522byp
          description: |
            Query Entity State Records where Entity Member is listed as the Tax Member Contact__c lookup field. The field is a lookup to entity Member.
          items:
            x-stoplight:
              id: 4tve8qe98ga2e
            type: object
            properties:
              stateName:
                type: string
                x-stoplight:
                  id: vw1f67g8io7p5
                description: Entity_State__c.state
              entityStateId:
                type: string
                x-stoplight:
                  id: 4dvnlna4xtljo
                description: Entity_State__c.id
        president:
          type: boolean
          x-stoplight:
            id: rgxofs2dbk6jz
          description: Entity_Member__c.PresidentCEO__c
        vicePresident:
          type: boolean
          x-stoplight:
            id: aiqtlofasceoq
          description: Entity_Member__c.Vice_President__c
        treasurer:
          type: boolean
          x-stoplight:
            id: in12q3ho8sosb
          description: Entity_Member__c.Treasurer__c
        secretary:
          type: boolean
          x-stoplight:
            id: wsa130s29cqbs
          description: Entity_Member__c.Secretary__c
        director:
          type: boolean
          x-stoplight:
            id: uqkiridsg7hsk
          description: Entity_Member__c.Director__c
        irsContact:
          type: boolean
          x-stoplight:
            id: k99c6c205rqs4
          description: Entity_Member__c.
        memberType:
          type: string
          x-stoplight:
            id: 96ppdilqan7b4
          description: Entity_Member__c.LLC_Member_Type__c
        shareholder:
          type: boolean
          x-stoplight:
            id: 7t6wdgs7t6ehb
          description: Entity_Member__c.Shareholder__c
        owner:
          type: boolean
          x-stoplight:
            id: af83olsbju1t5
          description: Entity_Member__c.Owner__c
        partner:
          type: boolean
          x-stoplight:
            id: zv71rt5euyqrw
          description: Entity_Member__c.Partner__c
        chairperson:
          type: string
          x-stoplight:
            id: 20ivbhxok9faf
          description: Entity_Member__c.Chairperson__c
    EntityAffiliation:
      title: EntityAffiliation
      x-stoplight:
        id: xk8js3aged1sb
      type: object
      description: Entity_Affiliation__c
      properties:
        id:
          type: string
          x-stoplight:
            id: 7dwvyudg9y57o
          description: Entity_Affiliation__c.Id
        affiliatedEntity:
          type: string
          x-stoplight:
            id: us8vif3ccu9dz
          description: Entity_Affiliation__c.Affiliated_Entity__c.Id
        ownershipPercentage:
          type: number
          x-stoplight:
            id: e1l8km3ips37h
        entity:
          x-stoplight:
            id: 2w3amerm3i6dc
          description: Entity_Affiliation__c.Entity__c
          allOf:
            - $ref: '#/components/schemas/Entity'
        address:
          x-stoplight:
            id: 7m991jkb7zjkf
          allOf:
            - $ref: '#/components/schemas/Address'
          description: "Entity_Affiliation__c\r\n    .Street_1__c\r\n    .Street_2__c\r\n    .City__c\r\n    .State__c\r\n    .Zip__c\r\n    .Email__c\r\n    .Phone__c"
        responsiblePartyIn:
          type: array
          x-stoplight:
            id: m63qmtd6mvy1y
          items:
            x-stoplight:
              id: 3tralmov97hq8
            type: object
            properties:
              stateName:
                type: string
                x-stoplight:
                  id: ps0yumtu5c3zt
              entityStateId:
                type: string
                x-stoplight:
                  id: dnbwdhnivlc9z
    DBA:
      title: DBA
      x-stoplight:
        id: txpe0zs4nfvjk
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 6qgx9u1xsfsey
          description: Entity_DBA__c.Id
        name:
          type: string
          x-stoplight:
            id: ecfz3dm3i6c3l
          description: Entity_DBA__c.Name
        filingDate:
          type: string
          x-stoplight:
            id: kgxttcextostx
          description: Entity_DBA__c.File_Date__c
    Locations:
      title: Location
      x-stoplight:
        id: abn1wzfp303p2
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: llxttrmzkknbq
        name:
          type: string
          x-stoplight:
            id: nzyn5qcqx8wk0
        type:
          type: string
          x-stoplight:
            id: qkyqfclyxbn8x
        address:
          $ref: '#/components/schemas/Address'
    RegisteredAgent:
      title: RegisteredAgent
      x-stoplight:
        id: thd208g4cz6nq
      type: object
      description: |-
        Registered_Agent__c

        Address mapping    Registered_Agent__c.
        Street1__c
        Street2__c
        Agent_City__c
        Agent_State__c
        Agent_Zip__c
      properties:
        id:
          type: string
          x-stoplight:
            id: 3cuco7z0d18vz
          description: Registered_Agent__c.id
        entityState:
          type: string
          x-stoplight:
            id: u20j7v53a3bq7
          description: Registered_Agent__c.Entity_State__c.id
        fullName:
          type: string
          x-stoplight:
            id: tmx4em6q9ks17
          description: Registered_Agent__c.Name
        agentAddress:
          $ref: '#/components/schemas/Address'
    EntityState:
      title: Entity State
      x-stoplight:
        id: hdvnxd7ugkq61
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 2m3dwd2del84w
          description: Entity_State__c.Id
        stateName:
          type: string
          x-stoplight:
            id: hk5vq940ulcmh
          description: Entity_State__c.State__c
        stateAbv:
          type: string
          x-stoplight:
            id: 33ksu22anvgx7
          description: Entity_State__c.State_Abv__c
        beganOperations:
          type: string
          x-stoplight:
            id: i6o79ogiizeov
          description: Entity_State__c.Began_Operations__c
        firstPayrollDate:
          type: string
          x-stoplight:
            id: 1kcp2idboeazv
          description: Entity_State__c.First_Payroll_Date__c
        foreignQualified:
          type: string
          x-stoplight:
            id: jm7r7ithdzz4v
          description: Entity_State__c.Foreign_Qualified__c
        primary:
          type: boolean
          x-stoplight:
            id: 0g66jizi0f3o7
          description: Entity_State__c.Is_Primary__c
        locations:
          type: array
          x-stoplight:
            id: rsgbp62udzuzd
          description: Location__c records related to Entity_state__c
          items:
            $ref: '#/components/schemas/Locations'
        dba:
          type: array
          x-stoplight:
            id: z2m3meqbwgy6y
          description: Entity_DBA__c recoreds where Entity_State__c is related to this entity Entity_State__c
          items:
            $ref: '#/components/schemas/DBA'
        registeredAgent:
          $ref: '#/components/schemas/RegisteredAgent'
        businessLicenses:
          type: array
          x-stoplight:
            id: qtec7upkwou83
          items:
            $ref: '#/components/schemas/Business-Licenses'
      description: |-
        Access definition
        Entity_State__c records should only be returned if the user id has access to the Entity (based on Entity or Entity-Expanded models) that the Entity_State__c is related to in the Entity__r field.
    Address:
      title: Address
      x-stoplight:
        id: onclvg3d55se1
      type: object
      properties:
        street:
          type: string
          x-stoplight:
            id: 98d76humzm9o6
        street2:
          type: string
          x-stoplight:
            id: kndr2llu1h67m
        city:
          type: string
          x-stoplight:
            id: hcr69j8ysch5v
        state:
          type: string
          x-stoplight:
            id: rei3hbwn8439t
        zip:
          type: string
          x-stoplight:
            id: ljpcbwgq26qjl
        country:
          type: string
          x-stoplight:
            id: 46fq2402b9niv
        phone:
          type: string
          x-stoplight:
            id: fi8yj1rwl2hmy
        email:
          type: string
          x-stoplight:
            id: 3ubu44k0rgpec
    Business-Licenses:
      title: Business-Licenses
      x-stoplight:
        id: x1tkak6uo4w04
      type: object
      description: Business_License__c.
      properties:
        id:
          type: string
          x-stoplight:
            id: ydlznqe5gxh5e
          description: Business_License__c.Id
        licensesAgency:
          type: string
          x-stoplight:
            id: jkbfxc970fn7n
          description: Business_License__c.Licenses_Agency__c
        licensesNumber:
          type: string
          x-stoplight:
            id: iql2ra4tutkqe
          description: Business_License__c.Licenses_Number__c
        expirationDate:
          type: string
          x-stoplight:
            id: gsrmg0le12of4
          description: Business_License__c.Expiration_Date__c
    Filing-State:
      title: Filing-State
      x-stoplight:
        id: 6toryaojblma2
      type: object
      description: |-
        Order_Filing_State__c.

        Access definition
        Order_Filing_State__c records should only be returned if the user id has access to the Order  that the Order_Filing_State__c is related to in the Order__r field.
      properties:
        id:
          type: string
          x-stoplight:
            id: okozsxiejfhfp
          description: Order_Filing_State__c.Id
        state:
          type: string
          x-stoplight:
            id: ewaf8uqbwdxir
          description: Order_Filing_State__c.Filing_State__c
        entityStateId:
          type: string
          x-stoplight:
            id: gyxmjejoctm9c
          description: Order_Filing_State__c.Entity_State__c.Id
    Order-Expanded:
      title: Order-Expanded
      x-stoplight:
        id: 3h7v60sxyou1z
      type: object
      properties:
        basicOrderInfo:
          $ref: '#/components/schemas/Order'
        orderSummary:
          type: string
          x-stoplight:
            id: 5xy0w752ft64d
          description: Order.HTML_TEST__c
        Cases:
          type: array
          x-stoplight:
            id: p8nzpop8ijorh
          description: 'Cases related to this order   '
          items:
            $ref: '#/components/schemas/Case'
        tansactions:
          type: array
          x-stoplight:
            id: n3sue0nkfti9e
          description: |
            Transaction_Detail__c related to this order
          items:
            $ref: '#/components/schemas/transaction'
    Case:
      title: Case
      x-stoplight:
        id: r01lg8b83dc7u
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: 1ap3ynygszp89
          description: Case.Id
        caseNumber:
          type: string
          x-stoplight:
            id: qmgrtavr023ln
          description: Case.CaseNumber
        phase:
          type: string
          x-stoplight:
            id: bu6kbjlxbrv2v
          description: Case.Status
        status:
          type: string
          x-stoplight:
            id: 5n80u4flaobxk
          description: Case.Sub_Status__c
        openDateTime:
          type: string
          x-stoplight:
            id: jswg1csofx8xj
          description: Case.CreatedDate
        closeDateTime:
          type: string
          x-stoplight:
            id: zqgghkmgargnj
          description: Case.ClosedDate
        serviceCategory:
          type: string
          x-stoplight:
            id: bv36edfq0djkd
          description: Case.Type
        entityId:
          type: string
          x-stoplight:
            id: 5fixyktwlbowg
          description: Case.Entity__c.Id
        filingState:
          type: string
          x-stoplight:
            id: 8odw2246jqivd
          description: Case.State__c
        deliveryMethod:
          type: string
          x-stoplight:
            id: bg4iyub83mf2p
          description: Case.Delivery_Method__c
        tasks:
          type: array
          x-stoplight:
            id: hag6carqyqtek
          description: Request_for_information__c records realted to this Case.
          items:
            $ref: '#/components/schemas/Tasks'
      description: |
        Access definition:
        Case record should only be returned if the user id has access to the Order that the Case is related to via the Order__r field. 
    GlossaryEntityType:
      title: GlossaryEntityType
      x-stoplight:
        id: qzr7d7vszvdbm
      type: object
      properties:
        entityTypeName:
          type: string
          x-stoplight:
            id: fdtmvx3wd54zv
          description: GlossaryEntityType.Names   i.e.LLC
        abv:
          type: string
          x-stoplight:
            id: o9h5ulvqpqdfg
        Roles:
          type: array
          x-stoplight:
            id: 20qxodceg1btv
          items:
            $ref: '#/components/schemas/Role'
    Role:
      title: Role
      x-stoplight:
        id: 2d320cwlixp01
      type: object
      properties:
        Name:
          type: string
          x-stoplight:
            id: q7isz9ikljf0z
    taxRegistration:
      title: taxRegistration
      x-stoplight:
        id: 4woee8nh4p31l
      type: object
      description: |-
        Entity_State_Account__c.


        Entity_State_Account__c records should only be returned if the user id has access to the Entity  that the Entity_State_Account__c is related to in the Entity__r field.
      properties:
        id:
          type: string
          x-stoplight:
            id: j021rbgnsehu1
          description: Entity_State_Account__c.id
        agencyName:
          type: string
          x-stoplight:
            id: 8s22z636hyg0f
          description: Entity_State_Account__c.State_Account__c.Name
        agencyId:
          type: string
          x-stoplight:
            id: jh56wlj6xyt8j
          description: Entity_State_Account__c.State_Account__c.Id
        entityId:
          type: string
          x-stoplight:
            id: 0q348q9vp7zw7
          description: Entity_State_Account__c.Entity__c
        firstSecurityQuestion:
          type: string
          x-stoplight:
            id: prg6zbny4a5ll
          description: Entity_State_Account__c.First_Security_Question__c
        secondSecurityQuestion:
          type: string
          x-stoplight:
            id: fs0di9tucgbqj
          description: Entity_State_Account__c.Second_Security_Question__c
        thirdSecurityQuestion:
          type: string
          x-stoplight:
            id: 3gcxo4kprxo7j
          description: Entity_State_Account__c.Third_Security_Question__c
        forthSecurityQuestion:
          type: string
          x-stoplight:
            id: rg95p5wdqfwog
          description: Entity_State_Account__c.Fourth_Security_Question__c
        firstSecurityAnswer:
          type: string
          x-stoplight:
            id: yvo8hiw7638xo
          description: Entity_State_Account__c.First_Security_Answer__c
        secondSecurityAnswer:
          type: string
          x-stoplight:
            id: 2gd2mjoxwvv1w
          description: Entity_State_Account__c.Second_Security_Answer__c
        thirdSecurityAnswer:
          type: string
          x-stoplight:
            id: dzcqm0v1wxqmk
          description: Entity_State_Account__c.Third_Security_Answer__c
        forthSecurityAnswer:
          type: string
          x-stoplight:
            id: 9sf45la9wr93y
          description: Entity_State_Account__c.Fourth_Security_Answer__c
        username:
          type: string
          x-stoplight:
            id: chp0ndsynh0ro
          description: Entity_State_Account__c.Username__c
        password:
          type: string
          x-stoplight:
            id: yszz1cpj5fi2c
          description: Entity_State_Account__c.password__c
        pin:
          type: string
          x-stoplight:
            id: vs9096jqs04ur
          description: Entity_State_Account__c.PIN_Number__c
        type:
          type: string
          x-stoplight:
            id: wed4rfzcjvoz7
          description: Entity_State_Account__c.Type__c
        typeCode:
          type: string
          x-stoplight:
            id: 9k5psl4mqqlcq
          description: Entity_State_Account__c.Type_Code__c
        rate:
          type: string
          x-stoplight:
            id: xta5sfqnr7y6y
          description: Entity_State_Account__c.Rate__c
        stateAccountNumber:
          type: string
          x-stoplight:
            id: l5shy7ayplxro
          description: Entity_State_Account__c.State_Account_Number__c
        rateType:
          type: string
          x-stoplight:
            id: g6hj6sg1ppos3
          description: Entity_State_Account__c.Rate_Type__c
        stateAgencyUrl:
          type: string
          x-stoplight:
            id: zyg8a70j6xctc
          description: Entity_State_Account__c.State_Agency_URL__c
        depositFrequency:
          type: string
          x-stoplight:
            id: vx719kdhger1y
          description: Entity_State_Account__c.Deposit_Frequency__c
        customerFacingLink:
          type: string
          x-stoplight:
            id: y5ywl69mkykl7
          description: Entity_State_Account__c.Customer_Facing_Link__c
        notes:
          type: string
          x-stoplight:
            id: s9kmcx0wds1wk
          description: Entity_State_Account__c.notes__c
        accountNumberFormat:
          type: string
          x-stoplight:
            id: cqo8sujwnetl0
          description: Entity_State_Account__c.Account_Number_Format__c
    product:
      title: product
      x-stoplight:
        id: 7ht63yemt3u2b
      type: object
      description: OrderItem
      properties:
        id:
          type: string
          x-stoplight:
            id: z70vdxjlcgmjh
          description: OrderItem.Id
        price:
          type: string
          x-stoplight:
            id: t328dmkmihw5e
          description: OrderItem.TotalPrice
        productName:
          type: string
          x-stoplight:
            id: wh904l6wr2338
          description: OrderItem.Product_Name__c
        listPrice:
          type: string
          x-stoplight:
            id: jbgf6vuyz9wav
          description: OrderItem.ListPrice
        unitPrice:
          type: string
          x-stoplight:
            id: e9o4fqvu732h4
          description: OrderItem.UnitPrice
        dicountAmount:
          type: string
          x-stoplight:
            id: 9pqkrkkgvrzkm
          description: OrderItem.Discount_Amount__c
        quantity:
          type: string
          x-stoplight:
            id: b3bmwlf7pj5lp
          description: OrderItem.Quantity
        state:
          type: string
          x-stoplight:
            id: pxoorhsat66tw
          description: OrderItem.Product_State__c
        productFamily:
          type: string
          x-stoplight:
            id: 967ib73lethgs
          description: OrderItem.Product2Id.Family
    OppProduct:
      title: OppProduct
      x-stoplight:
        id: wgrjykkay718f
      type: object
      description: OpportunityLineItem
      properties:
        id:
          type: string
          description: OpportunityLineItem.Id
        price:
          type: string
          description: OpportunityLineItem.TotalPrice
        productName:
          type: string
          description: OpportunityLineItem.Product_Name__c
        listPrice:
          type: string
          description: OpportunityLineItem.ListPrice
        unitPrice:
          type: string
          description: OpportunityLineItem.UnitPrice
          x-stoplight:
            id: rq4kgdaiiq6eq
        dicountAmount:
          type: string
          description: OpportunityLineItem.Discount_Amount__c
        quantity:
          type: string
          description: OpportunityLineItem.Quantity
        state:
          type: string
          description: OpportunityLineItem.Product_State__c
        productFamily:
          type: string
          description: OpportunityLineItem.Product2Id.Family
        formioId:
          type: string
          x-stoplight:
            id: zz87y44bd50g9
          description: opportunityLineItem.formIoId__c
        productDisplayType:
          type: string
          x-stoplight:
            id: r538f162k0xoe
          description: |-
            OpportunityLineItem.product_display_type__c

            Optional
            Required
            Selected
    transaction:
      title: transaction
      x-stoplight:
        id: xzfipwqw0exfj
      type: object
      description: |-
        Transaction_Detail__c

        billingAddress Mapping
        street:  Transaction_Detail__c.Address_1__c
        street2: Transaction_Detail__c.Address_2__c 
        city:    Transaction_Detail__c.City__c
        state:   Transaction_Detail__c.State__c
        zip:     Transaction_Detail__c.Zip_Code__c
      properties:
        id:
          type: string
          x-stoplight:
            id: 4rq8w5zilqrhn
          description: Transaction_Detail__c.id
        amount:
          type: string
          x-stoplight:
            id: 7kkvbpm3dozun
          description: Transaction_Detail__c.Amount__c
        processor:
          type: string
          x-stoplight:
            id: fo61s3xifog60
          description: Transaction_Detail__c.Payment_Processor__c
        discountAmount:
          type: string
          x-stoplight:
            id: uodpacihc12zm
          description: Transaction_Detail__c.Discount_Amount__c
        cardLastFour:
          type: string
          x-stoplight:
            id: t8c7adg951zlw
          description: Transaction_Detail__c.Card_Last_4__c
        paymentStatus:
          type: string
          x-stoplight:
            id: ggmbdwm9e10zt
          description: Transaction_Detail__c.Status__c
        refundStatus:
          type: string
          x-stoplight:
            id: 1vmsq0xxnesdg
          description: Transaction_Detail__c.Refund_Status__c
        createdDate:
          type: string
          x-stoplight:
            id: 20l53bwvyd7ll
          description: Transaction_Detail__c.CreatedDate
        transactionId:
          type: string
          x-stoplight:
            id: iy9bqu68jexjp
          description: Transaction_Detail__c.Transaction_Id__c
        billingAddress:
          $ref: '#/components/schemas/Address'
    requestForm:
      title: requestForm
      x-stoplight:
        id: s6x7pk65minrf
      type: object
      properties:
        formId:
          type: string
          x-stoplight:
            id: dk2pcr45mrvnx
          description: Form_Name_FormIoId__c
        object:
          type: string
          x-stoplight:
            id: 56jz4butg8ooo
          description: |-
            Object__c

            object API Name from Salesforce
        objectSFID:
          type: string
          x-stoplight:
            id: 9fbvkd0gkh9yr
          description: |-
            Object_SFID__c
            Leave blank to indicate this is an insert vs an update
        rfiId:
          type: string
          x-stoplight:
            id: rlulcqd9e62eo
          description: Request_for_Information__c
      description: This will be an array of request form related to a Request for Infomation__c
    auth:
      title: auth
      x-stoplight:
        id: 8rxizrm994mwl
      type: object
      description: User_Identity__c
      properties:
        id:
          type: string
          x-stoplight:
            id: ebbh15kzeovki
          description: User_Identity__c.Id
        authId:
          type: string
          x-stoplight:
            id: n9ohvs3d08hjf
          description: User_Identity__c.auth_id__c
        question1:
          type: string
          x-stoplight:
            id: 6ylhnm488iwuv
          description: User_Identity__c.question_2__c
        answer1:
          type: string
          x-stoplight:
            id: 4emzeadlds1f6
          description: User_Identity__c.answer_1__c
        question2:
          type: string
          x-stoplight:
            id: lliqsj9btl5s8
          description: User_Identity__c.question_2__c
        answer2:
          type: string
          x-stoplight:
            id: 0terszayzrjb1
          description: User_Identity__c.answer_2__c
        pin:
          type: string
          x-stoplight:
            id: bsfuwl48mccju
          description: User_Identity__c.pin__c
  securitySchemes:
    OAuth Token:
      type: oauth2
      flows:
        password:
          tokenUrl: /services/oauth2/token
          scopes: {}
      description: ''
security:
  - OAuth Token: []
tags: []
