openapi: 3.0.0
info:
  version: 1.0.0
  title: Corpnet Salesforce Web Service
  description: Providing Client and Partner Data to support the CCC
servers:
  - url: 'https://corpnet--build.sandbox.my.salesforce.com/services/apexrest/service'
    description: Build Sandbox
  - url: 'https://corpnet.my.salesforce.com/services/apexrest/service'
    description: Production
  - url: >-
      https://corpnet--fullphase2.sandbox.lightning.force.com/services/apexrest/service
    description: Phase 2 Full Sandbox
paths:
  /getuserinfo:
    get:
      tags:
        - Client Info
      summary: Get User Access Info
      parameters:
        - schema:
            type: string
          in: query
          name: Auth_Id
          description: User_Identity__c.Auth_Id__c
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    ClientsInfo:
                      - UID: 5a6ff6f5-9a72-459b-a26d-f1980d8f6407
                        ShippingAddress: null
                        PID: null
                        Name: Kendall Testy Helms
                        LogoURL: null
                        Id: 0018D00000Mykg9QAB
                        Discount: null
                        Contacts:
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0053h0000030ekPAAQ
                            Name: Reginald Quaint
                            Id: 0038D00000I071GQAR
                            Email: existingacct@test.texas
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: null
                            OwnerId: 0058D000000QCgRQAW
                            Name: Kendall Testy Helms
                            Id: 0038D00000Fo4FhQAJ
                            Email: kendalltesty.h@symsoftsolutions.com
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0058D000000QCgRQAW
                            Name: Peter Party
                            Id: 0038D00000IAfSzQAL
                            Email: peterparty@texas.test
                            AccountId: 0018D00000Mykg9QAB
                          - UID: null
                            Title: null
                            Phone: (111) 111-1111
                            OwnerId: 0058D000000QCgRQAW
                            Name: Mundungus Fletcher
                            Id: 0038D00000J0QwmQAF
                            Email: dungy.fletch@ww.hp
                            AccountId: 0018D00000Mykg9QAB
                        BrainTreeProfileId: '49897021653'
                        BillingAddress: null
                        AccountReferralId: '0'
                properties:
                  AuthId:
                    type: string
                    x-stoplight:
                      id: 1xu763dw8d4fm
                    description: >-
                      The Auth_Id__c parameter passed with the call should find
                      a User_Identity__c record with a matching Auth_Id__c

                      The Contact__c of that record will be the one returned in
                      the Contact section. As well as returning the Account
                      acccesses related to that contact.
                  contact:
                    $ref: '#/components/schemas/Contact'
                  accountAccesses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account-access'
              examples:
                Example 1:
                  value:
                    ClientInfo:
                      - UID: string
                        ShippingAddress: null
                        PID: null
                        Name: string
                        LogoURL: null
                        Id: string
                        Discount: null
                        Contacts:
                          - UID: null
                            Title: null
                            Phone: string
                            OwnerId: string
                            Name: string
                            Id: string
                            Email: string
                            AccountId: string
                        BrainTreeProfileId: string
                        BillingAddress: null
                        AccountReferralId: string
                Example 2:
                  value:
                    UserId: string
                    '':
                      - Level: string
                        entityAccess:
                          - level: string
                            Entity:
                              Name: string
                              Id: string
                              Type: string
                              formationDate: string
                              ein: string
                              filingnumber: string
                        account:
                          Id: string
                          Name: string
                          Type: string
                          formationdate: string
                          EIN: string
                          FilingNumber: string
                          HomeState: string
                Example 3:
                  value:
                    UserId: string
                    contact:
                      id: string
                      FirstName: string
                      LastName: string
                      Email: string
                      Phone: string
                    accountAccesses:
                      - accessLevel: string
                        account:
                          Id: string
                          Name: string
                          Type: string
                          formationdate: string
                          EIN: string
                          FilingNumber: string
                          HomeState: string
                        entityAccesses:
                          - level: string
                            Entity:
                              Name: string
                              Id: string
                              Type: string
                              formationDate: string
                              ein: string
                              filingnumber: string
      security:
        - OAuth Token: []
      servers:
        - url: >-
            https://corpnet--build.sandbox.my.salesforce.com/services/apexrest/service
        - url: 'https://corpnet.my.salesforce.com/services/apexrest/service'
          description: ''
      operationId: U2
      description: >-
        This call  will be used connect a specific auth id to a single contact
        in Salesforce returning all the access information for that contact to
        view or edit accounts and entities. 
  /getaccountinfo:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  AccountInfo:
                    $ref: '#/components/schemas/Account'
                  Orders:
                    type: array
                    x-stoplight:
                      id: 3pskkwix6btk5
                    description: Where Order.AccountId = AccountId
                    items:
                      $ref: '#/components/schemas/Order'
                  ComplianceAlerts:
                    type: array
                    x-stoplight:
                      id: ehes5qypcijqr
                    description: Opportunities Where Account.Id = AccountId
                    items:
                      $ref: '#/components/schemas/Opportunity'
                  Tasks:
                    type: array
                    x-stoplight:
                      id: gzspcx7gsrkjg
                    description: >-
                      Request_for_Information__c Where Case.AccountId =
                      AccountId
                    items:
                      $ref: '#/components/schemas/Tasks'
                  numberofOrders:
                    type: string
                    x-stoplight:
                      id: q1jogiwl4sce8
                    description: Count of all orders realated to the AccountId
                  pendingOrders:
                    type: string
                    x-stoplight:
                      id: 72ab12gkq9ret
                    description: |
                      Count of all orders realated to the AccountId
                      where status != completed
                  totalCompanies:
                    type: string
                    x-stoplight:
                      id: pl9rvj2jkikef
                    description: >-
                      count of Entities where Account__c = Count of all orders
                      realated to the AccountId
                  totalClients:
                    type: string
                    x-stoplight:
                      id: gtgsr7okulpql
                    description: |-
                      Partner_Role__c Where Partner_Account__c = AccountId

                      Type??
                      operationId: get-getaccountinfo
                      x-stoplight:
                        id: 5yfcoc6qmiv8h
      requestBody:
        content: {}
        description: ''
      parameters:
        - schema:
            type: string
          in: query
          name: AccountId
          description: 'Salesforce Account Id '
components:
  parameters:
    id:
      name: id
      in: query
      description: Locate record by Salesforce case safe object ID
      required: false
      schema:
        type: string
    uid:
      name: uid
      in: query
      description: Locate record by externally generated UID
      required: false
      schema:
        type: string
    guid:
      name: guid
      in: query
      description: Locate record by SQL GUID
      schema:
        type: string
  schemas:
    Contact:
      type: object
      title: Contact
      description: >-
        Whenever a contact is returned these are the fields to include. See
        specific endpoint description to determine what specific contact to
        reference...
      properties:
        id:
          type: string
          description: Id
        FirstName:
          type: string
          description: Contact.FirstName
        LastName:
          type: string
          description: Contact.LastName
        Email:
          type: string
          description: Contact.Email
        Phone:
          type: string
          description: Contact.Phone
    Account-access:
      type: object
      title: Account-access
      description: Display these fields when returning Account_Access__c records.
      properties:
        accessLevel:
          type: string
          description: Access_Account__c.Level__c
        account:
          $ref: '#/components/schemas/Account'
        entityAccesses:
          type: array
          description: Enity Access records accociated with the Access_Account__c record
          items:
            $ref: '#/components/schemas/Entity-Access'
        Id:
          type: string
          x-stoplight:
            id: cpugvoqmvm4lj
          description: Access_Account__c.Id
    Account:
      type: object
      description: General Account info for an account
      properties:
        Name:
          type: string
          x-stoplight:
            id: 3h52wyrohukvu
          description: Account.Name
        Id:
          type: string
          x-stoplight:
            id: xo62ntsc6mwgw
          description: |
            Account.Id
        AccountType:
          type: string
          x-stoplight:
            id: 13lf94p7jzgjb
          description: |-
            Partner or Consumer

            RecordtypeName  Partner  Else Consumer
    Entity:
      type: object
      title: Entity
      description: All core entity data for a single entity
      x-examples:
        Example 1:
          Name: String
          Id: string
          Type: string
      properties:
        Name:
          type: string
          description: |
            Entity__c.Name
        Id:
          type: string
          description: Entity__c.Id
        formationDate:
          type: string
          description: Entity__c.Formation_Date__c
        Type:
          type: string
          description: Entity.Entity_Type__c
        ein:
          type: string
          description: Entity__c.EIN__c
        filingnumber:
          type: string
          description: Entity.Filing_Number__c
    Entity-Access:
      type: object
      title: Entity-Access
      properties:
        level:
          type: string
          description: Access_Entity__c.Level__c
        Entity:
          $ref: '#/components/schemas/Entity'
    Order:
      title: OrderBasic
      x-stoplight:
        id: 1cwt2xny02c6f
      type: object
      description: >-
        Basic Order data to be returned in an array.  Supports the dashboard
        view in GetAccountInfo
      properties:
        id:
          type: string
          x-stoplight:
            id: 6zgbamrv42kw1
        UID:
          type: string
          x-stoplight:
            id: 94kvskkjukb6x
        OrderNumber:
          type: string
          x-stoplight:
            id: tvc0isa4fuqi9
        Status:
          type: string
          x-stoplight:
            id: fbl74v66trbuz
        OrderDate:
          type: string
          x-stoplight:
            id: 1b4f4ch3lzp5b
        Amount:
          type: string
          x-stoplight:
            id: w4fhwalz3l12z
        ServiceCategory:
          type: string
          x-stoplight:
            id: d00p3oaw164k5
        CompanyName:
          type: string
          x-stoplight:
            id: 9nnnrd8xyo6be
        AccountId:
          type: string
          x-stoplight:
            id: br5rk1hknc7sy
    Opportunity:
      title: Opportunity
      x-stoplight:
        id: r6023kgv92gio
      type: object
      description: >-
        Opportunities form Salesforce are Tasks in the CCC.  potental sales
        based on upcoming deadlines etc...

        Get Opportunites WHERE "type__c" = "Compliance Alert"
      properties:
        id:
          type: string
          x-stoplight:
            id: ok2hnhhwxm8ze
        Name:
          type: string
          x-stoplight:
            id: gyqadoj1axsdw
        ServiceCategory:
          type: string
          x-stoplight:
            id: 4qv2xxes6clwh
        CloseDate:
          type: string
          x-stoplight:
            id: 4xwboxgw82yg2
        Amount:
          type: string
          x-stoplight:
            id: r4j0ypj3tt2jj
    Tasks:
      title: Tasks
      x-stoplight:
        id: 5yiwx1fxvk3qk
      type: object
      description: |-
        Query of Request_for_information__c based on the account 
        GET Request_for_information__c WHERE Status != Completed
      properties:
        id:
          type: string
          x-stoplight:
            id: ieg5eyewy2sy4
        Name:
          type: string
          x-stoplight:
            id: nhii077zzhirb
        Order:
          type: string
          x-stoplight:
            id: 2z0lizjytmn0j
        RequestComment:
          type: string
          x-stoplight:
            id: hv3wqlbmm7q27
        status:
          type: string
          x-stoplight:
            id: tocob2rxjq1j2
        case:
          type: string
          x-stoplight:
            id: xkvjqueozpfy4
        CustomerEmail:
          type: string
          x-stoplight:
            id: 2gptgdgq5k6bu
    ToDo:
      type: object
      properties:
        RequestComment:
          type: string
          x-stoplight:
            id: kpyf3r9leq6ka
          description: Request_for_Information__c.Request__c
        Status:
          type: string
          x-stoplight:
            id: daertm1d3dq1z
          description: Request_for_Information__c.Status__c
        Type:
          type: string
          x-stoplight:
            id: p6ib7oro58i24
          description: |
            Request_for_Information__c.Type__c
        OrderId:
          type: string
          x-stoplight:
            id: lh0e1xr3y7z78
          description: |
            Request_for_Information__c.Order__c
        CaseId:
          type: string
          x-stoplight:
            id: tk3hoacicepjl
          description: |
            Request_for_Information__c.Case__c
  securitySchemes:
    OAuth Token:
      type: oauth2
      flows:
        password:
          tokenUrl: /services/oauth2/token
          scopes: {}
      description: ''
security:
  - OAuth Token: []
tags: null